---
---

@import "variables";

@import "bootstrap/bootstrap";

@import "hamburgers/hamburgers";
@import "navbar";

.jumbotron__home {
  background-image: url('/img/home/hero-geneve.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.justify {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.file.file-pdf {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('/img/icons/file-pdf.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
