---
---

@import "bootstrap/bootstrap";

@import "navbar";

.file.file-pdf {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('/img/icons/file-pdf.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
