---
---

@import "variables";

@import "bootstrap/bootstrap";

@import "hamburgers/hamburgers";
@import "navbar";
@import "footnotes";

.jumbotron__home {
  background-image: url('/img/home/hero-geneve.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.justify {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.multicolumnparagraph {
  column-count: 1;
}

@include media-breakpoint-up(md) {
  .multicolumnparagraph {
    column-count: 2;
    column-gap: 3em;
  }
}

.services-grid > div {
  border-bottom: 1px solid $gray-200;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.services-grid > div:last-child {
  border-bottom: 0;
}

@include media-breakpoint-up(md) {
  .services-grid > div:nth-child(odd) {
    border-right: 1px solid $gray-200;
    padding-right: 1.5em;
  }
  .services-grid > div:nth-child(even) {
    padding-left: 1.5em;
  }
  .services-grid > div:nth-last-child(2) {
    border-bottom: 0;
  }
}

.nav-link--cta {
  margin-top: .5em;
  margin-bottom: .5em;
}

@include media-breakpoint-up(lg) {
  .nav-link--cta {
    margin-left: 1em;
    margin-top: 0;
  }
}

.file.file-pdf {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('/img/icons/file-pdf.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  counter-reset: footnotes;
}

aside {
  padding-left: 1rem;
  margin-left: .5rem;
  margin-bottom: 1rem;
  border-left: 2px solid $primary;
  font-style: italic;
  color: $primary;
}
