<footer class="bg-light mt-5">
  <div class="container py-3 py-md-5">
    <div class="row">
      <div class="col-md">
        <p itemscope itemtype="http://schema.org/Organization">
          <span itemprop="name">Association Lyoxa</span>
          <br>
          <a href="mailto:info@lyoxa.ch" itemprop="email">info@lyoxa.ch</a>
          <br>
          c/o Maison Internationale des Associations
          <br>
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Rue des Savoises 15</span>
            <br>
            CH-<span itemprop="postalCode">1205</span>&nbsp;<span itemprop="addressRegion">Genève</span>
          </span>
          <br>
          <a href="https://www.instagram.com/lyoxa.ch/">
            <img src="/img/social/instagram-logo.svg" width="24" height="24" alt="Lyoxa's Instagram">
          </a>
          <a href="https://www.facebook.com/lyoxa.consulting.associatif/" class="ml-2">
            <img src="/img/social/facebook-logo.svg" width="24" height="24" alt="Lyoxa's Facebook">
          </a>
          <a href="https://www.linkedin.com/company/association-lyoxa" class="ml-2">
            <img src="/img/social/linkedin-logo.png" width="24" height="24" alt="Lyoxa's LinkedIn">
          </a>
        </p>
      </div>
      <div class="col-md col-lg-4 text-lg-right">
        <p>
          Organisation reconnue d’intérêt public par la République et Canton de Genève
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        © 2019 Lyoxa
      </div>
      <div class="col text-right">
        Réalisé par <a href="https://laruche.io">laruche</a>
      </div>
    </div>
  </div>
</footer>
