<nav class="navbar sticky-top navbar-expand-xl navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.svg" width="73" height="30" alt="Lyoxa">
    </a>

    <button class="navbar-toggler hamburger hamburger--minus" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Afficher/Cacher le menu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item {% if '/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item dropdown {% if page.url contains '/association/' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLyoxa" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Association
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLyoxa">
            <a class="dropdown-item {% if '/association/presentation/' == page.url %}active{% endif %}" href="/association/presentation/">Présentation</a>
            <a class="dropdown-item {% if '/association/structure/' == page.url %}active{% endif %}" href="/association/structure/">Structure</a>
            <a class="dropdown-item {% if '/association/equipe/' == page.url %}active{% endif %}" href="/association/equipe/">Équipe</a>
            <a class="dropdown-item {% if '/association/partenaires/' == page.url %}active{% endif %}" href="/association/partenaires/">Partenaires</a>
            <a class="dropdown-item {% if '/association/documents/' == page.url %}active{% endif %}" href="/association/documents/">Documents</a>
          </div>
        </li>
        <li class="nav-item dropdown {% if page.url contains '/services/' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuServices" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuServices">
            <a class="dropdown-item {% if '/services/presentation/' == page.url %}active{% endif %}" href="/services/presentation/">Présentation</a>
            <a class="dropdown-item" href="/conseil/">Demander un conseil</a>
            <a class="dropdown-item {% if '/services/permanence/' == page.url %}active{% endif %}" href="/services/permanence/">Permanence</a>
            <a class="dropdown-item" href="https://bdm.lyoxa.ch/" target="_blank">Louer du matériel</a>
            <a class="dropdown-item {% if '/services/outils-associatifs/' == page.url %}active{% endif %}" href="/services/outils-associatifs/">Outils Associatifs</a>
            <a class="dropdown-item {% if '/services/fonctionnement-des-demandes/' == page.url %}active{% endif %}" href="/services/fonctionnement-des-demandes/">Fonctionnement des demandes</a>
          </div>
        </li>
        <li class="nav-item {% if '/nous-soutenir/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/nous-soutenir/">Nous soutenir</a>
        </li>
        <li class="nav-item {% if '/contact/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link--cta btn btn-primary" href="/conseil/">Demander un conseil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link--cta btn btn-primary" href="https://bdm.lyoxa.ch/" target="_blank">Louer du matériel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar navbar-light bg-white border-bottom for-print">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.svg" width="73" height="30" alt="Lyoxa">
    </a>
  </div>
</div>
