<nav class="navbar sticky-top navbar-expand-xl navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.svg" width="73" height="30" alt="Lyoxa">
    </a>

    <button class="navbar-toggler hamburger hamburger--minus" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Afficher/Cacher le menu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item {% if '/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item dropdown {% if page.url contains '/lyoxa/' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLyoxa" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lyoxa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLyoxa">
            <a class="dropdown-item {% if '/lyoxa/' == page.url %}active{% endif %}" href="/lyoxa/">Présentation du projet</a>
            <a class="dropdown-item {% if '/lyoxa/pourquoi-notre-projet/' == page.url %}active{% endif %}" href="/lyoxa/pourquoi-notre-projet/">Pourquoi notre projet</a>
            <a class="dropdown-item {% if '/lyoxa/structure/' == page.url %}active{% endif %}" href="/lyoxa/structure/">Structure</a>
            <a class="dropdown-item {% if '/lyoxa/documents/' == page.url %}active{% endif %}" href="/lyoxa/documents/">Documents</a>
          </div>
        </li>
        <li class="nav-item dropdown {% if page.url contains '/services/' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuServices" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuServices">
            <a class="dropdown-item {% if '/services/' == page.url %}active{% endif %}" href="/services/">Services</a>
            <a class="dropdown-item {% if '/services/fonctionnement-des-demandes/' == page.url %}active{% endif %}" href="/services/fonctionnement-des-demandes/">Fonctionnement des demandes</a>
          </div>
        </li>
        <li class="nav-item {% if '/ressources/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/ressources/">Ressources</a>
        </li>
        <li class="nav-item {% if '/equipe/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/equipe/">Équipe</a>
        </li>
        <li class="nav-item {% if '/partenaires/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/partenaires/">Partenaires</a>
        </li>
        <li class="nav-item {% if '/nous-soutenir/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/nous-soutenir/">Nous soutenir</a>
        </li>
        <li class="nav-item {% if '/contact/' == page.url %}active{% endif %}">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/lyoxa.consulting.associatif/" class="nav-link">
            <img alt="Facebook's logo" height="24" src="/img/social/facebook-logo.svg" width="24" style="vertical-align: unset;">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link--cta btn btn-primary" href="/formulaire-de-demande/">Nouvelle demande</a>
        </li>
        <li class="nav-item">
          <a class="nav-link--cta btn btn-primary" href="https://bdm.lyoxa.ch/" target="_blank">Louer du matériel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar navbar-light bg-white border-bottom for-print">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.svg" width="73" height="30" alt="Lyoxa">
    </a>
  </div>
</div>
