@include media-breakpoint-up(xl) {
  .navbar {
    padding-top: 0;
  }
  .navbar-brand {
    padding-top: calc(.5rem + 3px);
  }
  .nav-item {
    border-top: 3px solid #fff;
    padding-top: .5rem;
  }
  .nav-item.active {
    border-top: 3px solid #cb0000;
  }
}
