---
layout: canevas
createdAt: 20.08.2019
updatedAt: 20.08.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque association est différente : dans ses activités, ses buts, ses membres et donc dans la structure et les moyens nécessaires à son existence et à l’accomplissement de ses objectifs.
  <br>
  Ce canevas n’est donc pas une recette miracle pour créer l’association de vos rêves, mais plutôt un ensemble de propositions pour nourrir votre réflexion et vous offrir des repères dans la réalisation de votre projet associatif. Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs ; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer une <a href="/formulaire-de-demande/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Création d'une association</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Qu’est-ce qu’une association ?</h2>
  <p>
    Une association est une structure dans laquelle des individus (deux au minimum) mettent en commun leurs ressources, compétences et moyens pour servir un but idéal. Une association possède une personnalité juridique et est régie selon les articles 60 et suivants du Code civil suisse. Elle est un lieu d’engagement citoyen pour la société, conformément à son ou ses buts idéaux, dans laquelle ses membres s’investissent et collaborent pour l’accomplissement des buts.
  </p>
  <p>
    Une association a des membres réunis en Assemblée générale, un organe exécutif (souvent appelé Comité) et un organe de vérification des comptes.
  </p>

  <h2 class="mt-5">Les étapes de création d’une association</h2>
  <ul>
    <li>Avoir un but idéal et commun à deux personnes minimum ;</li>
    <li>Rédiger des statuts ;</li>
    <li>Organiser une Assemblée générale constitutive ;</li>
    <li>Ecrire le procès-verbal de l’Assemblée générale constitutive ;</li>
    <li>Signer les documents constitutifs (les statuts et le procès-verbal de l’Assemblée générale constitutive) ;</li>
    <li>Ouvrir un compte bancaire ou postal ;</li>
    <li>Rechercher de nouveaux·elles membres ;</li>
    <li>Développer vos activités.</li>
  </ul>

  <p>
    Nous préconisons de créer l’association avec une bonne base de membres bien que la loi permette la création avec deux personnes. En effet, une association demandant beaucoup d’énergie et d’engagement dès sa fondation, il est conseillé de réunir un groupe initial de personnes qui pourront permettre à l’association de se développer.
  </p>

  <h2 class="mt-5">Statuts</h2>
  <p>
    Les statuts sont la base juridique d’une association. Tout ce qui est écrit doit être suivi pour que l’association soit dans les normes. Tout ce qui en est absent est sujet à interprétation. C’est pourquoi, dans un souci de long terme, nous préconisons d’être le plus complet possible dans la rédaction des statuts.
  </p>
  <p>
    En outre, l’écriture des statuts constitue une étape fondamentale dans la réflexion en amont d’une création d’association. Cette réflexion est nécessaire pour les membres fondateur·trices, car elle permet d’envisager la globalité de la structure, des membres, des actions et de la réalisation des buts originaux. C’est pourquoi nous recommandons que ce processus s’effectue de manière collective. Si tou·tes les membres et futur·es acteur·trices de l’association participent à cette création, ils·elles se sentiront parties prenantes de celle-ci.
  </p>
  <p>
    Nous offrons un service d’aide à la rédaction de statuts. Plusieurs de nos membres sont juristes et pourront ainsi en vérifier les aboutissants juridiques.
  </p>
  <aside>
    <p>Le <a href="http://www.cagi.ch/fr/service-ong/creation-transfert/creation-d-une-association.php">site du CAGI</a> (Centre d’Accueil – Genève Internationale) donne des explications dans la création d’une association et un modèle de statuts y est disponible. Nous avons également un modèle de statuts sur odt ou doc que nous pouvons fournir.</p>
  </aside>
  <p>
    L’adoption des statuts se fait lors de l’Assemblée constitutive de celle-ci, et ils doivent bien figurer au Procès-Verbal de cette dernière. Une fois l’Assemblée constitutive terminée et l’organe exécutif élu, les statuts doivent être signés par cet organe, tout comme le Procès-Verbal. De plus, le Procès-Verbal et les statuts doivent obligatoirement contenir les noms et fonctions des membres du “Comité” (ou quelle que soit l'appellation de l’organe exécutif choisi) avec l’apposition de leur signature individuelle.
  </p>

  <h2 class="mt-5">Assemblée générale constitutive</h2>
  <p>
    La création d’une association passe par la tenue de son Assemblée générale constitutive. Celle-ci en marquera en effet sa constitution formelle. Il est nécessaire pour cette occasion que les statuts soient déjà rédigés, afin qu’ils puissent être discutés et adoptés lors de celle-ci. Veillez également à signer le PV de cette AG en plus des statuts.
  </p>
  <p class="mb-1">
    Les éléments suivants sont obligatoires à l’ordre du jour d’une Assemblée générale constitutive :
  </p>
  <ul>
    <li>Adoption de l’ordre du jour ;</li>
    <li>Adoption des statuts ;</li>
    <li>Élection du Comité ;</li>
    <li>Fixation du montant de la cotisation ;</li>
    <li>Élection de l’organe de vérification des comptes.</li>
  </ul>

  <h2 class="mt-5">Procès-Verbal</h2>
  <p>
    Les Procès-Verbaux doivent comporter un ordre du jour, une liste des présences, date / lieu / heure de la réunion. L’ordre du jour doit être adopté en début de séance. Toute décision doit être inscrite au PV, accompagnée de sa modalité (décision par consensus ou vote avec le nombre de voix).
  </p>
  <p>
    Des exemples d’ordre du jour et de procès-verbal peuvent nous être demandés.
  </p>

  <h2 class="mt-5">Trésorerie et Compte bancaire</h2>
  <p>
    Nous vous invitons à prendre connaissance de notre canevas <a href="/ressources/canevas/tenir-une-tresorerie-associative.html">“Tenue de trésorerie associative”</a> pour tout ce qui est sujet à la tenue opérationnelle, l’exonération fiscale, etc.
  </p>
  <p>
    Toutes les associations n’ont pas les mêmes besoins bancaires, puisqu’ils dépendent de leurs moyens et de leurs activités. Quelles que soient les solutions de paiement adoptées, sachez qu’elles seront probablement appelées à suivre l’évolution de l’association par la suite. Plusieurs banques offrent la possibilité aux associations d’ouvrir des comptes bancaires avec des frais réduits et plusieurs cartes.
  </p>
  <aside>
    <p>
      Les démarches administratives chez <a href="https://www.postfinance.ch/fr/entreprises/produits/comptes/compte-associations.html">PostFinance</a> y sont les plus faciles, malgré des frais peut-être plus substantiels. Pour l’ouverture du compte, il vous suffit de vous rendre sur le site de la banque de votre choix et suivre la procédure en ligne, ou de vous rendre directement en agence.
    </p>
  </aside>
  <p>
    Attention, pour ouvrir un compte postal, il est nécessaire d’avoir le nom, prénom, date de naissance, nationalité et la signature de toutes les personnes avec une procuration (trois au maximum). Ces personnes peuvent avoir une signature collective (un papier devant être donc signés par les trois pour être légitime) ou individuelle (une seule signature suffit). De plus, l’association doit déjà avoir des statuts adoptés par l’Assemblée constitutive et un Procès-Verbal de cette assemblée. Les deux documents doivent contenir les dénominations, fonctions et signatures des personnes avec procuration pour légitimer leur droit à la procuration.
  </p>
  <p>
    Afin de tenir une comptabilité, il est possible de commander des bulletins de versement avec les données du compte.
  </p>

  <h2 class="mt-5">Adresse postale d’association</h2>
  <p>
    L’adresse personnelle d’un membre du Comité est souvent utilisée. Il est possible de créer une adresse d’association, dite de redirection, de type “Association, 1200 Genève”. Vous pouvez consulter le <a href="https://www.post.ch/fr/reception/lieux-de-reception/adresse-d-association">site de la Poste</a>. Lors de la demande, il faut fournir les statuts signés et adoptés, un Procès-Verbal attestant que la personne de redirection est membre du Comité et se munir de sa carte d’identité.
  </p>

  <h2 class="mt-5">Adresse mail d’association</h2>
  <p>
    Un compte d’association peut être créé afin d’obtenir la gratuité. Les <a href="https://www.google.com/nonprofits/">démarches</a> sont longues, mais envisageables. Il est possible de créer une adresse avec un @votreassociation avec Gmail. Il faut créer un <a href="https://workspace.google.fr/intl/fr/">compte Google Workspace</a>. Nous avons un contact d’un informaticien qui peut assurer la maintenance et l’installation des adresses mail Google.
  </p>

  <h2 class="mt-5">Registre des associations</h2>
  <p>
    Il n’existe pas de registre officiel des associations dans le canton de Genève.
  </p>
  <p>
    L’inscription au registre du commerce n’est obligatoire que pour les associations exerçant une activité commerciale générant plus de CHF 100’000.- par an. Il ne doit pas être confondu avec un registre des associations.
  </p>
  <p>
    La Fondation Ethique et Valeurs a mis sur pied un registre alternatif des associations sur sa plateforme A nous de jouer. Il y est possible de créer un profil pour votre association.
  </p>
</section>
