---
layout: canevas
createdAt: 20.08.2019
updatedAt: 20.08.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque association est différente: dans ses activités, ses buts, ses membres et donc dans la structure et les moyens nécessaires à son existence et à l’accomplissement de ses objectifs.
  <br>
  Ce canevas n’est donc pas une recette miracle pour créer l’association de vos rêves, mais plutôt un ensemble de propositions pour nourrir votre réflexion et vous offrir des repères dans la réalisation de votre projet associatif. Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer une <a href="/formulaire-de-demande/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Création d'une association</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Statuts</h2>
  <p>
    Les statuts sont la base juridique d’une association. Tout ce qui est écrit doit être suivi pour que l’association soit dans les normes. Tout ce qui en est absent est sujet à interprétation. C’est pourquoi, dans un souci de long terme, nous préconisons d’être le plus complet dans la rédaction des statuts.
  </p>
  <p>
    En outre, l’écriture des statuts constitue une étape fondamentale dans la réflexion en amont d’une création d’association. Cette réflexion est nécessaire pour les membres fondateurs, car elle permet d’envisager la globalité de la structure, des membres, des actions et de la réalisation des buts originaux. C’est pourquoi nous recommandons que ce processus s’effectue de manière collective. Si tous les membres et futurs acteurs de l’association participent à cette création, ils se sentiront parties prenantes de celle-ci.
  </p>
  <p>
    Nous offrons un service d’aide à la rédaction de statuts. Plusieurs de nos membres sont juristes et pourront ainsi en vérifier les aboutissants juridiques.
  </p>
  <aside>
    <p>Le <a href="http://www.cagi.ch/fr/service-ong/creation-transfert/creation-d-une-association.php">site du CAGI</a> (Centre d’Accueil – Genève Internationale) donne des explications dans la création d’une association et un modèle de statuts y est disponible. Nous avons également un modèle de statuts sur odt ou doc que nous pouvons fournir.</p>
  </aside>
  <p>
    L’adoption des statuts se fait lors de l’Assemblée constitutive de celle-ci, et ils doivent bien figurer au Procès-Verbal de cette dernière. Une fois l’Assemblée constitutive terminée et l’organe exécutif élu, les statuts doivent être signés par cet organe, tout comme le Procès-Verbal. De plus, le Procès-Verbal et les statuts doivent obligatoirement contenir les noms et fonctions des membres du “Comité” (ou quelle que soit l'appellation de l’organe exécutif choisi) avec l’apposition de leur signature individuelle.
  </p>

  <h2 class="mt-5">Assemblée générale constitutive</h2>
  <p>
    La création d’une association passe par la tenue de son Assemblée générale constitutive. Celle-ci en marquera en effet sa constitution formelle. Il est nécessaire pour cette occasion que les statuts soient déjà rédigés, afin qu’ils puissent être approuvés et adoptés lors de celle-ci. Veillez également à signer le PV de cette AG en plus des statuts.
  </p>

  <h2 class="mt-5">Trésorerie et Compte bancaire</h2>
  <p>
    Nous vous invitons à prendre connaissance de notre canevas <a href="/ressources/canevas/tenir-une-tresorerie-associative.html">Tenir une trésorerie associative</a> pour tout ce qui est sujet à la tenue opérationnelle, l’exonération fiscale, etc.
  </p>
  <p>
    Toutes les associations n’ont pas les mêmes besoins bancaires, puisqu’ils dépendent de leurs moyens et de leurs activités. Quelques soient les solutions de paiement adoptés, sachez qu’elles seront probablement appelées à suivre l’évolution de l’association par la suite. Plusieurs banques offrent la possibilité aux associations d’ouvrir des comptes bancaires avec des frais réduits et plusieurs cartes.
  </p>
  <aside>
    <p>
      Les démarches administratives chez <a href="https://www.postfinance.ch/fr/entreprises/produits/comptes/compte-associations.html)">PostFinance</a> y sont les plus faciles, malgré des frais peut-être plus substantiels.
    </p>
  </aside>
  <p>
    Pour l’ouverture du compte, il vous suffit de vous rendre sur le site de la banque de votre choix et suivre la procédure en ligne, ou de vous rendre directement en agence.
  </p>
  <p>
    Attention, pour ouvrir un compte postal, il est nécessaire d’avoir le nom, prénom, date de naissance, nationalité et la signature de toutes les personnes avec une procuration (trois au maximum). Ces personnes peuvent avoir une signature collective (un papier devant être donc signés par les trois pour être légitime) ou individuelle (une seule signature suffit). De plus, l’association doit déjà avoir des statuts adoptés par l’Assemblée constitutive et un Procès-Verbal de cette assemblée. Les deux documents doivent contenir les dénominations, fonctions et signatures des personnes avec procuration pour légitimer leur droit à la procuration.
  </p>
  <p>
    Il est possible d’acquérir une carte de retrait en plus des cartes d’accès E-Finance. Il faut en faire la demande lors de l’ouverture du compte ou ensuite par téléphone. Deux cartes d’accès et une carte de retrait sont comprises dans l’ouverture d’un compte d’association. Toute carte supplémentaire est payante.
  </p>
  <p>
    Afin de tenir une comptabilité, il est possible de commander des bulletins de versement avec les données du compte.
  </p>

  <h2 class="mt-5">Adresse postale d’association</h2>
  <p>
    Pour que l’association ait une adresse postale, il est nécessaire de la créer. Son adresse de redirection est généralement régie par les statuts de l’association. Les adresses personnelles du président ou du trésorier sont souvent utilisées à cet effet. L’adresse de redirection doit appartenir obligatoirement à un membre du Comité de l’association. Vous pouvez à ce sujet consulter le <a href="https://www.post.ch/fr/particuliers/reception/particuliers-choix-du-lieu-de-reception/adresse-d-association">site de la Poste</a>.
  </p>
  <p>
    Lors de la demande, il faut fournir les statuts signés et adoptés, un Procès-Verbal attestant que la personne de redirection est membre du bureau et se munir de sa carte d’identité.
  </p>

  <h2 class="mt-5">Adresse mail d’association</h2>
  <p>
    Un compte d’association peut être créé afin d’obtenir la gratuité. Les <a href="https://www.google.com/nonprofits/">démarches</a> sont longues, mais envisageables. Il est possible de créer une adresse avec un @votre_association avec Gmail. Il faut créer un <a href="https://www.google.com/intl/fr/gmail/about/for-work/">compte GSuite</a>. Nous avons un contact d’un informaticien qui peut assurer la maintenance et l’installation des adresses mail Google.
  </p>
</section>
