---
layout: canevas
createdAt: 20.08.2019
updatedAt: 20.08.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Ce canevas a pour but de vous aider dans l’organisation d’une conférence. En fonction de votre thème, de la date et du lieu de votre conférence, un grand nombre de variables sont à considérer. La tâche peut sembler lourde à porter, aussi nous avons rassemblé ci-dessous un ensemble de points pour que l’organisation de votre événement ne devienne pas un calvaire. Bien entendu, il ne s’agit là que de conseils et d’indications, ils ne sont ni obligatoires ni suffisants ou exhaustifs pour assurer le succès de votre conférence. La responsabilité de LYOXA n’est pas engagée par les éléments que vous trouverez ci-après, et qui nécessiteront  d’être adaptés à votre situation particulière. À ce sujet, nous vous conseillons de déposer <a href="/formulaire-de-demande/">une demande sur notre site</a> pour bénéficier de notre suivi et conseil.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Organiser une conférence</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Timeline</h2>
  <div id="timeline">
    <div>
      <section class="year">
        <h3>J-150</h3>
        <section>
          <ul>
            <li>Réfléchir au projet, le sens qu’on veut lui donner et envisager une date (quelle période de l’année)</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-130</h3>
        <section>
          <ul>
            <li>Établissement d’un budget prévisionnel et d’un dossier de présentation du projet (utile pour partenaires, sponsors et intervenants)</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-120</h3>
        <section>
          <ul>
            <li>Avoir réservé une salle (éviter de programmer l’événement les jours de fête (vendredi, samedi…))</li>
            <li>Entamer les demandes de financement (cela signifie en théorie avoir un projet déjà bien défini et une idée de son coût)</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-90</h3>
        <section>
          <ul>
            <li>Contacter les intervenants</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-60</h3>
        <section>
          <ul>
            <li>Lancer la communication, grosse vague de communication 1.0</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-30</h3>
        <section>
          <ul>
            <li>Avoir la liste effective de tous les intervenants</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-20</h3>
        <section>
          <ul>
            <li>Commencer à rassembler des bénévoles</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-15</h3>
        <section>
          <ul>
            <li>Grosse vague de communication 2.0</li>
            <li>Rappel aux intervenants</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-10</h3>
        <section>
          <ul>
            <li>Avoir une équipe de bénévole définie</li>
            <li>Prévoir une possible verrée, des cadeaux aux intervenants</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-7</h3>
        <section>
          <ul>
            <li>Avoir tous les moyens techniques à disposition (caméra, etc.)</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-4</h3>
        <section>
          <ul>
            <li>Rappel aux intervenants</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>Jour J</h3>
        <section>
          <h4>H-1h30</h4>
          <ul>
            <li>Arrivée à la salle et début des préparatifs</li>
          </ul>
        </section>
        <section>
          <h4>H-30m</h4>
          <ul>
            <li>Arrivée des intervenants et filage technique</li>
          </ul>
        </section>
        <section>
          <h4>15 minutes avant la fin</h4>
          <ul>
            <li>Débuter les préparatifs de fin (chapeau, verrée, etc.)</li>
          </ul>
        </section>
        <section>
          <h4>30 minutes après la fin</h4>
          <ul>
            <li>Finir le rangement</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J+1</h3>
        <section>
          <ul>
            <li>Mail de remerciement aux intervenants et remerciement aux bénévoles</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J+7</h3>
        <section>
          <ul>
            <li>Faire un retour sur la conférence avec bénévoles</li>
          </ul>
        </section>
      </section>
    </div>
  </div>

  <h2 class="mt-5">Comment s'organiser?</h2>
  <h3>Technique</h3>
  <ul>
    <li>Prévoir des techniciens pour tout ce qui est son (micro, etc.), lumière et gérer les éventuels PowerPoints etc.</li>
    <li>Envisager un photographe, c’est un atout non négligeable.</li>
    <li>Prévoir des cameramen si la conférence est filmée (auquel cas privilégier plusieurs caméras et un cameraman par caméra).</li>
    <li>S’assurer que chaque caméra a : un trépied, une carte SD et une batterie <b>chargée (prévoir des batteries de rechange!).</b></li>
    <li>Dans l’idéal, il faudrait que chaque cameraman s’occupe de récupérer et ranger sa caméra, avant de remettre la carte SD à qui de droit.</li>
    <li>Attention, évidemment, à la casse et au vol.</li>
    <li><b>Il est essentiel d’avertir les intervenants que la conférence sera filmée, et d’avoir leur autorisation (au moins tacite) pour diffuser les images.</b></li>
  </ul>

  <h3>Intervenants</h3>
  <b>Comment les trouver:</b>
  <ul>
    <li>Faire marcher ses réseaux, c’est toujours ce qui marche le mieux.</li>
    <li>Contacter directement la personne voulue, dans le pire des cas elle refusera.</li>
    <li>Penser à contacter les ONG, les associations, les universités et autres institutions; elles peuvent intervenir elles-mêmes ou vous guider dans vos recherches.</li>
  </ul>
  <b>Prise de contact:</b>
  <ul>
    <li>La prise de contact par mail (ou par message, mais en tout cas par écrit) est fortement conseillée. Même si elle est précédée ou suivie par une discussion de vive voix, il est important de mettre les choses par écrit.</li>
    <li>Se montrer poli et respectueux. En cas de doute, mieux vaut être trop sérieux que le contraire.</li>
    <li>Indiquer l’heure, le lieu, le type de public, le thème, les infos techniques (PowerPoint possible/voulu?), durée de l’intervention, rôle exact, défraiement etc. Cela peut se faire en plusieurs mails, mais ces questions doivent être abordées à un moment ou à un autre.</li>
    <li>Bien laisser votre mail, numéro de téléphone ou quelque autre moyen pour votre interlocuteur de vous contacter.</li>
  </ul>
  <b>Lors de la conférence:</b>
  <ul>
    <li>Prévoir des bouteilles d’eau et peut-être des cadeaux pour les conférenciers (surtout s’ils sont bénévoles).</li>
    <li>Lors de l’événement, ne pas laisser les intervenants seuls, qu’ils soient bien accueillis (si possible par les organisateurs) et pris en charge (si possible par quelqu’un d’autre que les organisateurs qui auront suffisamment à faire).</li>
    <li>Faire en sorte que les conférenciers respectent le temps imparti et qu’ils ne débordent pas (avant tout s’il s’agit d’une conférence avec plusieurs intervenants). <b>Ne pas hésiter à bien marquer le temps écoulé.</b></li>
  </ul>

  <h3>Gestion du projet</h3>
  <p>
    Même si beaucoup de personnes s’impliquent dans la réalisation du projet, il est essentiel qu’un noyau dur (2-5 personnes) subsiste et prenne l’organisation et la répartition des tâches en main.
  </p>
  <p>
    Si cela est possible, mieux vaut se répartir les tâches. Cela représente un gain de temps énorme. Il ne faut pas pour autant négliger la communication entre tous, les décisions peuvent être prises conjointement, mais leur application sera plus efficace si confiée à une ou plusieurs personnes spécifiques. Exemple de répartition : chargé de communication, chargé des finances, chargé de la logistique, chargé des relations avec les intervenants, etc.
  </p>

  <h3>Financement</h3>
  <p>
    L’organisation de telles conférences peut engendrer des frais : location de la salle, collation post-conférence, technicien, affiches, défraiement des intervenants, etc.
  </p>
  <p>
    Il est possible d’obtenir des financements et/ou aides matérielles auprès de diverses organisations, il faut essayer de regarder qui votre projet pourrait intéresser, ou qui serait prêt à vous soutenir. Celles-ci peuvent, en échange avoir des exigences (ex : leur logo sur vos affiches), à vous de décider si elles vous semblent acceptables ou non.
  </p>
  <p>
    En cas de demande de financement, il est conseillé de fonder une association; cela facilitera les démarches.  Pour mettre toutes  les chances de votre côté, il faut les convaincre du sérieux de votre projet. L’élaboration d’un dossier de présentation du projet et d’un budget prévisionnel est fortement conseillée. Beaucoup demanderont également à voir les statuts de votre association et/ou le dernier PV.
  </p>
  <p>
    L’autofinancement est une autre manière vous financer, pensez aux classiques ventes de pâtisseries. Il est également possible de demander une participation de votre public (via un ticket d’entrée ou un chapeau à la fin).
  </p>

  <h3>Public</h3>
  <p>
    Les conférences trop longues sont déconseillées, le public se déconcentre très facilement au bout d’une heure et demie.  Il ne faut pas hésiter à désigner un bénévole comme chauffeur de salle et/ou prêt avec des questions pour lancer le public. Informer les intervenants du public visé : connaissent-ils le sujet abordé ? Qu’est-ce qui les unit ?(même école, même profession, même âge, mêmes intérêts, rien du tout ?).
  </p>

  <h3>Bénévoles</h3>
  <ul>
    <li><b>Ne pas négliger le team-building.</b></li>
    <li>Prévoir des bénévoles prêts à rester tard pour tout ranger.</li>
    <li>Il est important de savoir déléguer. Inutile de vouloir tout superviser, c’est impossible. Mieux vaut choisir des personnes sérieuses et leur faire confiance.</li>
    <li>Assigner des tâches plus ou moins précises à chacun, tout en leur laissant la liberté de s’adapter en fonction des situations.</li>
    <li>Un briefing est fortement conseillé (plus il sera bref, mieux ce sera).</li>
    <li>Il ne faut pas oublier qu’il s’agit de personnes qui s’engagent bénévolement à vous aider. À ce titre elles méritent toute votre reconnaissance. Ce n’est cependant pas une raison pour elles de ne pas effectuer les tâches que vous leur confiez avec sérieux.</li>
  </ul>

  <h3>Communication</h3>
  <ul>
    <li>Adapter la communication au public visé.</li>
    <li>L’utilisation des réseaux sociaux est vivement conseillée (page Facebook, compte Instagram, Snapchat, etc.), mais il est préférable d’en privilégier deux, selon le public cible.</li>
    <li>Dans le cas où le public serait plus âgé, prévoir flyers à distribuer et affiches.</li>
    <li>Créer des affiches qui clarifient : où, quand, quoi, à quelle heure, pour qui, dans quel but.</li>
    <li>Vérifier si les soutiens financiers de l'événement exigent que leurs logos respectifs apparaissent sur les affiches.</li>
    <li>Communiquer de manière croissante, sans saturer les intéressés, est conseillé. Poster une information par semaine permet de garder l’événement dans la mémoire des intéressés et de toucher de nouvelles personnes, mais il faut s’assurer que ces publications ou mails soient utiles pour les intéressés. Une présentation des différents intervenants est à considérer.</li>
  </ul>

  <h3>Salle</h3>
  <ul>
    <li>Regarder s’il est possible (en fonction des buts/sujets/public visé de la conférence notamment) de disposer gratuitement d’une salle; la louer peut revenir très cher.</li>
    <li>Ne pas prendre une trop grande salle si l’on est pas sûr de la remplir, mieux vaut une petite salle pleine à craquer qu’une grande salle à moitié vide.</li>
    <li>Essayer de trouver une salle facilement accessible, surtout si l’évènement est gratuit et/ou public; la distance décourage beaucoup.</li>
    <li>Souvent, des frais annexes s’appliquent. La présence d’un technicien (65.-/heure) est souvent obligatoire.</li>
    <li>S’assurer de la disponibilité de la salle avant et après la conférence pour la préparer et la ranger.</li>
    <li>Indiquer le chemin de la salle si besoin (panneaux aux arrêts de bus, flèches, etc.).</li>
  </ul>
</section>
