---
layout: canevas
createdAt: 20.02.2025
updatedAt: 20.02.2025
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque recherche de fonds est différente et doit toujours s’adapter à son cas spécifique.
  <br>
  Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer si vous le sentez nécessaire une <a href="/conseil/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Demandes de subventions auprès de la Ville de Genève : nouvelles démarches</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Préambule</h2>
  <p>Dès mi-septembre 2024, la procédure pour les demandes de subventions monétaires octroyées par la Ville de Genève change. Les nouvelles démarches mises en place centralisent les demandes de subventions sur un portail en ligne qui utilise la plateforme e-démarches de l’Etat de Genève. Toute association désireuse de faire une demande de subventions à un service de la Ville de Genève (p.ex. Service de la culture, Service des sports, Service Agenda 21, Service social, Service de la jeunesse, Unité de la vie associative, etc.), devra obligatoirement utiliser le portail en ligne dédié. Aucune demande papier ou par mail ne sera désormais traitée.</p>

  <p>L’utilisation de cette plateforme engendre plusieurs conséquences administratives et financières pour les associations, qui seront détaillées au point 5 du présent document.</p>

  <p>Le portail en ligne de la Ville de Genève utilisant l’environnement informatique de la plateforme e-démarches de l’Etat de Genève, il vous faudra obtenir un numéro IDE et un identifiant REG, auprès des entités concernées.</p>

  <p>Ce canevas détaille les étapes à effectuer en amont de toute demande de fonds à la Ville de Genève, à savoir :</p>

  <ol>
    <li>Inscription au répertoire des entreprises et établissements de l’Office fédéral de la statistique (REE) ;</li>
    <li>Inscription au répertoire des entreprises du Canton de Genève (REG) ;</li>
    <li>Création d’un compte e-démarches sur la plateforme de l’Etat de Genève ;</li>
    <li>Création d’un compte sur le portail en ligne de la Ville de Genève.</li>
  </ol>
  
  <p>Ces démarches doivent être entreprises <b>au plus tard un mois avant</b> le délai fixé pour le dépôt d’un dossier de demande de subvention.</p>

  <p>Si votre association est inscrite au Registre du Commerce (RC) de l’Etat de Genève, vous disposez déjà d’un numéro IDE. Vous pouvez donc sauter les étapes 1 et 2 mentionnées ci-dessus.</p>

  <p>La Ville de Genève a mis en place une équipe de soutien au sein de la Direction des systèmes d'information et de communication de la Ville de Genève (DSIC). De l’aide peut être demandée :</p>

  <ul>
    <li>par téléphone au <a href="tel:+41224186260">022 418 62 60</a></li>
    <li>par e-mail : <a href="mailto:portail-demarches.dsic@ville-ge.ch">portail-demarches.dsic@ville-ge.ch</a></li>
  </ul>

  <p>La permanence téléphonique est ouverte les</p>
  <ul>
    <li>mardi de 13h30 à 17h</li>
    <li>jeudi de 9h à 12h et de 13h30 à 17h</li>
    <li>vendredi de 9h à 12h et de 13h30 à 17h</li>
  </ul>
  <p>L’équipe reçoit aussi sur place, sur rendez-vous.</p>

  <p>Dans la limite de nos compétences, nous vous conseillons également dans la réalisation de ces diffé-rentes démarches.</p>

  <h2 class="mt-5">1.	Inscription au Répertoire des Entreprises et Établissements (REE) de l’Office fédéral de la statistique (OFS)</h2>

  <p>Le REE comprend toutes les entreprises et tous les établissements de droit privé et public établis et générant une activité économique sur le territoire suisse. Il est utilisé par certains cantons, comme Genève, à des fins statistiques et administratives.</p>

  <p>Le registre est accessible <a href="https://www.uid.admin.ch/Search.aspx" target="_blank">en ligne</a>.</p>

  <p>L’inscription s’effectue en remplissant le <a href="https://www.bfs.admin.ch/bfs/fr/home/registres/registre-entreprises/numero-identification-entreprises/informations-entreprises/mon-ide.assetdetail.26085211.html" target="_blank">formulaire « destiné à interroger les données d’une entreprise »</a>, à télécharger. <b>Contrairement à l’intitulé du formulaire et à la mention indiquant que les structures ne peuvent pas obtenir un IDE directement de l’OFS, il s’agit bien du formulaire à utiliser lors de l’inscription.</b></p>

  <p>Le formulaire dûment complété est à retourner à <a href="mailto:uid@bfs.admin.ch">uid@bfs.admin.ch</a> accompagné des statuts de l’association.</p>

  <p>En principe, la confirmation d’inscription au REE et le numéro IDE sont reçus après 3 jours.</p>

  <h2 class="mt-5">2.	Inscription au répertoire des Entreprises du canton de Genève (REG)</h2>
  <p>Le REG recense l’activité économique du secteur privé, public et international du canton de Genève. Ses données sont accessibles publiquement.</p>

  <p>Si votre association est inscrite au Registre du commerce, elle possède automatiquement un identifiant REG. Vous pouvez alors passer à l’étape suivante.</p>

  <p>L’inscription au REG suit automatiquement l’inscription au REE. Elle prend une dizaine de jours et aucune confirmation d’inscription n’est envoyée.</p>

  <p>Afin de vérifier si votre association figure déjà au REG, il vous faut effectuer une recherche sur le <a href="https://app2.ge.ch/ecoregpublic/%23/rechercher" target="_blank">moteur de recherche du REG</a>.</p>

  <p>Pour compléter toute information manquante, vous devrez vous rendre sur la plateforme e-démarches de l’Etat de Genève. Si vous ne disposez pas encore d’un compte, vous pouvez transmettre celles-ci et tout document utile à <a href="mailto:reg.geneve@etat.ge.ch">reg.geneve@etat.ge.ch</a>.</p>

  <p class="small font-italic">Attention, si vous deviez à l’avenir changer d’adresse, ou de coordonnées de contact, il vous faudra les mettre à jour.</p>

  <h2 class="mt-5">3.	Création d’un compte e-démarches de l’État de Genève</h2>
  <p>La création d’un compte e-démarches est contre-intuitive pour les associations, car vous devrez à plusieurs reprises dire que vous êtes une entreprise jusqu’au moment de renseigner votre nature juridique.</p>

  <p>Le compte e-démarches pour entreprises, qui s’adresse donc également aux associations, est différent du compte e-démarches pour les individus.</p>
  
  <p>L’inscription de son association passe via le formulaire en ligne <a href="https://ge.ch/ginainscriptions_pm/identification" target="_blank">“Inscription pour les entreprises”</a>, en sélectionnant la catégorie “entreprise genevoise” et en renseignant l’identifiant REG de l’association.</p>
  
  <p>Le formulaire et l’ensemble des justificatifs indiqués doivent être imprimés, signés et envoyés par courrier postal. Le délai d’inscription peut prendre jusqu’à 21 jours.</p>
  
  <p>La confirmation d’inscription sera envoyée avec l’<b>identifiant e-démarches</b> de l’association, puis une clé de sécurité et un lien d’activation du compte sur lequel un certain nombre d’informations sont à remplir. Passée cette étape, il est possible d’ajouter d’autres gestionnaires de compte pour l’association via le gestionnaire de compte.</p>
  
  <p>Il est important que le numéro IDE et l’identifiant REG soient rattachés au compte e-démarches de l’association. Cette vérification s’effectue sur le gestionnaire de compte, sous « Gérer mon organisation », puis « identité ».</p>
  
  <p>Si l’un ou les deux numéros manquent, ils doivent être communiqués à <a href="mailto:portail-demarches.dsic@ville-ge.ch">portail-demarches.dsic@ville-ge.ch</a> avec l’identifiant e-démarches de l’association (GE-0000000), le numéro REG et/ou l’identifiant IDE.</p>
  
  <h2 class="mt-5">4.	Création d’un compte sur le portail des démarches de la Ville de Genève</h2>

  <p><a href="https://demarches.geneve.ch/entreprise_association" target="_blank">Ce portail</a> en ligne s'adresse à toute association ou entreprise ayant des relations avec la Ville de Genève. Il héberge notamment des demandes de subventions dans les domaines des sports, de la culture ou du développement durable, auprès des différents services de la Ville de Genève (p.ex. Service de la culture, Service des sports, Service Agenda 21, Service social, Service de la jeunesse, Unité de la vie associative, etc.).</p>

  <p>Une fois que l’association dispose d’un compte e-démarches, il suffit de se rendre sur le portail et d’accepter les conditions générales d’utilisation pour finaliser l’inscription de l’association.</p>

  <p>L’ensemble des formulaires de demande de fonds sont disponibles dans la liste des démarches et peuvent être complétés individuellement. Il est possible de remplir une demande en plusieurs fois en la sauvegardant et en la récupérant dans l’onglet brouillons.</p>

  <p>Pour rappel, les informations doivent être complétées en français.</p>

  <p>Les formulaires de demande de subvention disponibles via cette plateforme concernent notamment :</p>

  <ul>
    <li>les demandes de subvention pour un projet culturel ponctuel, auprès du Service culturel</li>
    <li>les demandes de subvention nominatives auprès du Service culturel</li>
    <li>certaines bourses de la Ville de Genève destinées aux artistes dans les domaines des arts plastiques et des arts appliqués</li>
    <li>les demandes de subvention dans le domaine de la solidarité internationale</li>
    <li>les demandes de subvention nominatives pour les associations oeuvrant en faveur de la cohésion sociale</li>
    <li>les demandes de subvention ponctuelle au Service Agenda 21 – Ville durable</li>
    <li>les demandes de soutien auprès du programme G’innove destiné aux projets novateurs et porteurs d’impacts social, environnemental et économique</li>
  </ul>
  <p>Par ailleurs, les comptes et rapports d’activités liés à un projet mené avec une subvention obtenue de la Ville de Genève peuvent être transmis via le formulaire disponible sur le portail également.</p>

  <h2 class="mt-5">5.	Conséquences fiscales</h2>
  <p>Puisque cette nouvelle procédure emploie la plateforme e-démarches de l’Etat de Genève, les informations relatives aux associations sont automatiquement partagées avec l’Administration fiscale cantonale (AFC).</p>

  <p>L’AFC pourra donc identifier toutes les associations genevoises et vérifier leur statut fiscal. Pour rappel, toute association est tenue de se déclarer à l’AFC et de remplir sa déclaration fiscale chaque année. Si votre association n’est pas connue de l’AFC, elle le sera automatiquement par cette procédure. Vous devrez alors régulariser votre situation fiscale et probablement payer des impôts de manière rétroactive. Sur le plan fiscal, les administrations peuvent demander des impayés de manière rétroactive sur 10 ans. Sur le plan pénal, dans le cas où une association n’a pas payé d’impôts sur plusieurs années, elle encourt le risque d’une poursuite pour soustraction d’impôt et d’une amende à hauteur d’1/3 à 3 fois le montant de l’impôt en sus. Afin d’éviter ces complications, l’association peut prétendre à une amnistie fiscale en s’auto-dénonçant.</p>

  <p>Il est également possible d’effectuer une demande d’exonération fiscale en parallèle ou à la suite des démarches décrites ci-dessus. Cependant seul un petit nombre d’associations peuvent bénéficier de l’exonération fiscale considérant les critères d’éligibilité appliqués par l’AFC.</p>

  <p>Pour les questions liées à la fiscalité et à la comptabilité associative, un canevas dédié est <a href="/services/outils-associatifs/canevas/tenir-une-tresorerie-associative.html" target="_blank">disponible ici</a>. Il est important de garder à l’esprit que l’octroi de l’exonération fiscale est exceptionnel.</p>

  <h2 class="mt-5">6. Ressources utilisées</h2>
  <ul>
    <li><a href="https://www.geneve.ch/public/associations/portail-demarches" target="_blank">Portail des démarches pour les associations</a></li>
    <li><a href="https://www.ge.ch/document/guide-exonerations-fiscales-associations-fondations" target="_blank">Guide des exonérations fiscales pour associations et fondations</a></li>
    <li><a href="https://www.ge.ch/utiliser-repertoire-entreprises-du-canton-geneve" target="_blank">Utiliser le répertoire des entreprises du canton de Genève</a></li>
    <li><a href="https://www.bfs.admin.ch/bfs/fr/home/registres/registre-entreprises/registre-entreprises-etablissements.html" target="_blank">Registre des entreprises et établissements</a></li>
    <li><a href="https://www.ge.ch/creer-compte-e-demarches/compte-entreprises" target="_blank">Créer un compte e-démarches pour entreprises</a></li>
    <li><a href="https://www.geneve.ch/document/guide-portail-demarche-ville-geneve" target="_blank">Guide du portail des démarches de la Ville de Genève</a></li>
  </ul>

</section>
