---
layout: canevas
createdAt: 01.10.2019
updatedAt: 01.10.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque réunion, et au-delà chaque association connaissent des besoins différents en termes de structure et usages pour assurer un bon fonctionnement, mais également une expérience agréable pour tout le monde.
  <br>
  Peut-être davantage encore que nos autres canevas, celui-ci se veut un aide-mémoire des questions à garder en tête ainsi qu’un ensemble de propositions et d’outils qui pourraient être utiles à votre association. Notre démarche tend à s’éloigner des solutions et méthodes “miracles” issues du management pour fournir un corps de réflexion plus à même d’embrasser la réalité du monde associatif. Les dispositions suivantes ne sont ni obligatoires, ni suffisantes ou exhaustives; elles n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. À cette fin, et si vous éprouvez des difficultés relatives à votre organisation interne, LYOXA vous incite à effectuer <a href="/conseil/">une demande de suivi</a> afin que nous identifions ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Organiser une réunion</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Les différents types de réunions</h2>
  <p>
    Chaque tâche mérite son outil, il en va de même avec les réunions. Celles-ci doivent s’adapter à leurs buts, aux disponibilités des participant-e-s ou encore aux différentes modalités que peuvent exiger les statuts de l’Association. Garder à l’esprit le but et le cadre d’une réunion est le meilleur moyen de garantir un travail agréable et réussi.
  </p>
  <h3>Selon le public</h3>
  <ul>
    <li>Réunions du Comité : destinées le plus souvent à gérer les affaires courantes de l’Association, elles rassemblent en règle générale un petit nombre de personnes pour prendre des décisions exécutives et faire le point sur les activités.</li>
    <li>Réunion d’une commission : rassemblant quelques individus pour la réalisation d’un travail interne à l’association, elles ont pour objectif la création d’un objet, projet, etc.</li>
    <li>Réunions ouvertes : rassemblant au-delà des membres du Comité, dans un cadre moins formel qu’une Assemblée générale, elles se prêtent à la communication interne, à l’organisation et à la réflexion.</li>
    <li>Assemblées générales (ordinaire ou extraordinaire) : organe suprême de l’Association, c’est elle qui est mobilisée pour notamment évaluer et élire le Comité, traiter des grandes orientations et procéder à des révisions statutaires.</li>
    <li>Réunions d’un autre organe où l’Association est représentée : la ville et le canton de Genève concentrent un grand nombre d’associations, dont certaines se rassemblent en faîtières, fédérations, coopératives ou autres. Il existe une multitude de cas où certains membres (en général les membres du Comité) seront appelés à représenter l’Association dans une réunion externe.</li>
  </ul>

  <h3>Par objectif</h3>
  <ul>
    <li>Dichotomie régulière/ponctuelle : la structure et le déroulement de votre réunion vont différer s’il s’agit d’une rencontre qui n’aura lieu qu’une fois ou si c’est une réunion hebdomadaire.</li>
    <li>Gestion/gouvernance/suivi/audit : voici quelques exemples de types de réunions. Un bon ordre du jour s’adapte au but de la réunion, mais vous seuls êtes à même de le définir. En général, il s’agira de ne pas perdre de vue le coeur de la réunion, de ne pas trop s’éloigner du sujet, quitte à recadrer la discussion.</li>
    <li>Réalisation d’un projet : il s’agit ici de faire le tour des différentes dimensions de l’organisation à travers ses responsables pour que chacun-e soit au courant de ce qui peut le/la concerner, et s’assurer que rien n’est oublié.</li>
    <li>Réunions créatives ou “workshop” : qui se prêtent à une organisation plus dynamique afin de faire émerger des solutions ou des pistes de réflexion sur un sujet précis. Il s’agira par exemple de diviser le groupe en différents ateliers tournants qui se concentreront sur des dimensions précises. Il est important que chacun-e ait bien compris le but et l’exercice.</li>
    <li>Régler un problème (médiation) : comme dans tout cadre social, le conflit interpersonnel peut survenir dans le monde associatif. Il conviendra alors d’organiser une rencontre entre les individus concerné-e-s dans un cadre qui leur permette de se sentir écouté-e-s afin de résoudre le différend. Une telle rencontre donne lieu à une médiation ayant à coeur le maintien d’un climat respectueux et l’accompagnement des différentes parties vers une résolution qui tiennent compte des intérêts tant personnels que collectifs.</li>
  </ul>

  <h3>Ce qu’il faut garder en tête, quelle que soit votre réunion et association</h3>
  <ol>
    <li>
      <b>Garder trace des décisions</b>
      <p>
        Il est primordial de prendre un procès-verbal (ci-après : PV) des décisions et des motivations avancées, sans nécessairement retranscrire mot à mot toute la discussion. Les mots d’ordre sont : concision, clarté et efficacité. Cela peut notamment découler d’une exigence statutaire de votre association. Dans tous les cas, cela permet de garder une trace à court terme (pour veiller à ce que toutes les tâches soient effectuées) et plus long terme (constituer une base de savoir associatif). Surtout, cela permet d’assurer une certaine transparence nécessaire au bon fonctionnement de toute association. En règle générale, il est recommandé de reprendre le PV de la réunion précédente en début de séance pour faire le point sur l’avancement, et éventuellement de communiquer à chacun-e ce qu’il doit faire en fin de séance d’ici à la prochaine réunion.
      </p>
      <p>
        Notez qu’un PV mentionne de manière générale, les objectifs de la réunion, sa date, la liste des personnes présentes ainsi que les différents sujets abordés.
      </p>
    </li>
    <li>
      <b>Partir sur une base commune</b>
      <p>
        Chacun-e doit savoir en avance ce sur quoi porte la réunion, et avoir à sa disposition les éventuels documents nécessaires. Ceci requiert donc un peu d’organisation pour verrouiller en amont l’ordre du jour de la réunion, mais cela vous poussera à mieux vous organiser et vous en serez satisfait-e lorsque vos réunions ne se s'éternisent plus.
      </p>
    </li>
    <li>
      <b>S’adapter aux participant-e-s de la réunion</b>
      <p>
        Il est nécessaire d’adapter son temps de parole et l’importance des sujets abordés au nombre des participant-e-s, au rôle qu’exerce votre public (vos membres préféreront peut-être éviter de passer 30 minutes à refaire l’historique des échanges avec un partenaire) ainsi qu’à leur statut au sein de l’Association et bien sûr au temps disponible.
      </p>
    </li>
    <li>
      <b>Distinguer l’urgent de ce qui demande davantage de réflexion</b>
      <p>
        Pendant le déroulement, il est indispensable de savoir distinguer les points fondamentaux nécessitant une discussion approfondie (présentement ou nécessitant une autre rencontre), des points exigeant une décision rapide. Cela demande un certain ressenti, une bonne connaissance du sujet et du tact. Par principe, cette responsabilité incombe à qui préside la séance, mais il est du devoir de chacun-e de veiller à ce que la réunion se déroule au mieux, et le cas échéant, de proposer de passer au point suivant ou encore de signaler que le point en question a déjà été résolu par le passé.
      </p>
    </li>
    <li>
      <b>Faire de (brefs!) rappels</b>
      <p>
        Même si vous avez fourni tous les documents nécessaires au préalable, il vous sera sûrement attendu de contextualiser à nouveau certains éléments. Il s’agit alors de donner toutes les informations requises aux individus présents, tout en essayant d’être le plus direct et concis possible : vous expliquer un point, n’en faites pas une anthologie du monde associatif.
      </p>
    </li>
  </ol>

  <h3>Comment s’organise une réunion</h3>
  <p class="mt-5"><b>Avant la réunion</b></p>
  <p>
    Comme dit plus haut, toute réunion émane d’un besoin et sert un but. Avoir une idée claire de ces deux composantes vous permettra de mieux construire vos réunions, mais également d’évaluer par la suite si votre organisation sert bien et vous permet d’atteindre le but prévu.
    <br>
    De celles-ci découle le reste de la structure : quel est le public ciblé par la réunion, quelle est l’importance de sa tenue et quels sont les objectifs à avoir atteint à la fin de la séance ?
  </p>
  <p>
    Vous pourrez alors établir un ordre du jour d’après les différents points à aborder, faire appel aux différents organes/membres invité-e-s pour qu’ils ajoutent leurs points. Il faudra se méfier d’un ordre du jour trop ambitieux et favoriser les programmes plus courts et réalisables. Cela donnera un sentiment d’accomplissement aux participant-e-s. Prévoir un point “Divers” clôturant l’ordre du jour peut être utilisé pour discuter d’autres sujets (en général ne requérant pas un vote), si le temps le permet et pour avoir une meilleure adaptabilité et proportionnalité.
  </p>

  <p class="mb-0">
    Ceci fait, il vous faudra choisir une plage horaire en tenant compte de plusieurs éléments :
  </p>
  <ul>
    <li>Définir la durée nécessaire selon le nombre et la complexité des points abordés;</li>
    <li>Adapter la/les proposition(s) d’horaire(s) aux disponibilités usuelles des membres;</li>
    <li>Garder à l’esprit qu’elle risque de commencer au mieux 5 à 10 minutes après l’horaire fixé, et se prolonger au-delà de vos prévisions;</li>
    <li>La disponibilité du lieu de la réunion, ses horaires et le trajet nécessaire pour que les participant-e-s le rejoignent. Une réunion de travail ou formelle nécessite un lieu calme, adapté, quant à sa disposition, à la tenue d’une réunion et si possible agréable;</li>
    <li>Les éventuelles échéances pour les décisions attendues lors de la réunion—et le fait qu’il faille de la marge au cas où ces points nécessitent davantage de discussions.</li>
    <li>Selon le type de réunion, sa régularité et le nombre de participant-e-s, il peut être intéressant de trouver un horaire qui convienne au plus grand nombre à travers l’utilisation d’un outil de sondage (Doodle et autres).</li>
  </ul>

  <p>
    Une fois le lieu, l’horaire et l’ordre du jour de la réunion établis, il vous faudra convoquer les participant-e-s et vous assurer que tous les membres attendus puissent venir. Dans le cas contraire, vous pourrez proposer de reporter la réunion ou simplement leur demander de transmettre les informations qu’ils jugent pertinentes, donner procuration à quelqu’un de présent-e, etc.
  </p>

  <p>
    Pensez à rappeler, le jour ou la veille de la réunion, son horaire et lieu à l’ensemble des participant-e-s de façon à ce que personne n’oublie ou se trompe de lieu de rendez-vous.
    <br>
    Il vous faudra également désigner la personne responsable de la présidence de la séance. Elle sera en charge de guider les discussions, de distribuer la parole et de conduire les votes (dans une réunion plus formelle), enfin de s’assurer que l’ensemble des points soient discutés. Choisir quelqu’un au fait des sujets et ayant du tact, mais sachant se montrer ferme est donc une bonne façon de garantir des réunions agréables et efficaces.
  </p>
  <img src="/img/canevas/organiser-une-reunion/organiser-une-reunion-1.svg" alt="Organiser une réunion" class="img-fluid" style="max-width: 600px;">

  <p class="mt-5"><b>Pendant la réunion</b></p>
  <p>
    Que vous ayez à approuver l’ordre du jour ou non, il est toujours utile de le reprendre en début de réunion, de demander si quelqu’un souhaite y ajouter un point et le modifier le cas échéant. Vous pourrez également présenter de manière plus générale le cadre de la réunion.
  </p>
  <p>
    Pensez à identifier clairement la personne qui prend note (l’attention, l’exhaustivité et la qualité de celles-ci peuvent dépendre de l’importance et du caractère formel de la réunion) des décisions. Toutes les personnes susceptibles de lire ce PV doivent pouvoir le comprendre, attention donc à l’excès de jargon et aux informations confidentielles qui ne sont pas destinées à sortir du cadre de la réunion.
  </p>
  <p>
    Dans l’ensemble, il faudra garder à l’esprit toutes exigences précédemment discutées : motiver les décisions au PV, s’assurer que chacun-e puisse s’exprimer, recentrer sur le sujet en cas de digressions, garder un oeil sur le temps et l’ordre du jour pour gérer le rythme de la réunion.
  </p>
  <p>
    Chacun-e doit également se questionner sur ses inputs : tout ce qui est important doit être dit et même ce qui élargit la réflexion, mais il faut éviter les redites, “je suis d’accord avec…” ou autres (dans de grandes réunions, l’usage de signes silencieux pour manifester votre approbation, votre envie de répondre peut être utile mais tous les participant-e-s <a href="http://www.stopaugazdeschiste07.org/telechargement/Association_Fonctionnement/Discussion_Gestes.pdf">doivent les connaître</a>). Il s’agira également de faire un effort pour s’exprimer de la façon la plus directe, claire et concise possible.
  </p>
  <p>
    Si des points méritent plus de discussion/participation d’autres individus n’étant pas présents, il ne faut pas hésiter à proposer leur ajournement ou leur discussion une fois le reste de la réunion effectuée.
  </p>
  <p>
    Arrivant au terme de la réunion, il vous faudra conclure en récapitulant brièvement les différents sujets qui auront été abordés dans le but de clore cette dernière. Si cela n’a pas été effectué tout au long des discussions, ce moment sera également dédié à la répartition des tâches et à la mise en place d’un planning.
  </p>
  <p>
    Pour finir, après avoir indiqué aux personnes présent-e-s le lieu où leur sera mis à disposition  le PV de cette réunion, il est bienvenu de prendre le temps de les remercier pour leur présence et de valoriser leur efficacité.
  </p>
  <img src="/img/canevas/organiser-une-reunion/organiser-une-reunion-2.svg" alt="Organiser une réunion" class="img-fluid" style="max-width: 600px;">

  <p class="mt-5"><b>Après la réunion</b></p>
  <p>
    Comme suggéré plus haut, il est utile de reprendre le PV sous forme de tâches (qui fait quoi? Pour quand?) et les communiquer aux personnes concernées. Cela permet de s’assurer que personne n’oublie son engagement, mais aussi de voir si la charge de travail est disproportionnée. Il s’agit donc de faire en sorte que les personnes présentes lors de la réunion, ainsi que les personnes absentes à qui des tâches auraient été assignées, aient par la suite bien pris connaissance de ce PV.
  </p>
  <p>
    En règle générale, les membres du Comité se chargent de veiller au bon avancement de cette liste de tâches. Les personnes en charge de ce suivi devront par ailleurs veiller à reprendre cette liste de tâches lors de la prochaine réunion ou échéance afin de vérifier si tout a bien été accompli. Il vous faudra communiquer le PV au public qui y a droit, et veiller à ce que l’Association conserve une copie à l’interne.
    <br>
    Enfin, une fois la réunion passée, il peut être intéressant de sonder l’avis des personnes y ayant pris part, de recueillir leurs feedbacks (via une grille d’évaluation, un Google Form, autres, etc.). L’objectif étant ici de cibler ce qui pourra être amélioré lors de la prochaine réunion.
  </p>
  <img src="/img/canevas/organiser-une-reunion/organiser-une-reunion-3.svg" alt="Organiser une réunion" class="img-fluid" style="max-width: 600px;">

</section>
