---
layout: canevas
createdAt: 23.09.2019
updatedAt: 23.09.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque manifestation est différente: dans ses activités, ses buts, ses membres et donc dans la structure et les moyens nécessaires à son existence et à l’accomplissement de ses objectifs.<br>
  Ce canevas n’est donc pas une recette miracle pour arriver à l’événement de vos rêves, mais plutôt un ensemble de propositions pour nourrir votre réflexion et vous offrir des repères dans la réalisation de votre projet. Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer une <a href="/formulaire-de-demande/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Organiser une manifestation</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Préambule</h2>
  <p>
    L’organisation d’une manifestation, quelle que soit son ampleur, dépend fondamentalement de l’ampleur de la manifestation. De fait, le délai de préparation peut varier de quelques semaines à plusieurs années. Une variable importante, probablement la plus importante si vous vous lancez dans une activité à but non lucratif, d’après notre expérience, est la localisation.
  </p>
  <p>
    De fait, si vous avez un lieu privé à disposition, le processus est largement simplifié. La réservation et l’usage d’un lieu public sont un travail de longue haleine.
  </p>
  <p>
    Il faut également, anticiper le budget et être extrêmement prudent sur les entrées potentielles, quitte à l’adapter de manière positive ensuite. Il convient également d’être au clair sur la prise de responsabilité financière (signature collective ou non).
  </p>

  <h2 class="mt-5">Échéances</h2>
  <p>
    Dans l’organisation de n’importe quelle manifestation, il faut prévoir plusieurs moments qui permettent de vérifier que l’avancement du projet est suffisant pour permettre de maintenir la manifestation prévue. Donc, il ne faut pas hésiter à annuler, reporter votre manifestation si vous ne tenez vraiment pas vos délais.
  </p>

  <h2 class="mt-5">Répartition des cahiers des charges</h2>
  <p>
    Les cahiers des charges suivants sont à se partager entre les membres de l’organisation. Il est largement possible d’attribuer plusieurs cahiers des charges à une même personne pour les manifestations de faible ampleur notamment. Cependant, il est souhaitable que le coordinateur ne se charge que de la coordination. Il est important que les personnes concernées aient lu leurs cahiers des charges et aient pu poser des questions concernant leurs tâches, avant de les accepter.
  </p>
  <p>
    Lors de la répartition des cahiers des charges, il est capital de mettre sur pied un échéancier pour chacune des tâches. Cet échéancier peut-être imposé dans le cas d’une manifestation usuelle, mais gagne également à être renégocié en fonction des agendas des personnes concernées.
  </p>
  <p>
    Ici aussi, il faut faire preuve de réalisme. L’engagement associatif devrait toujours passer après d’autres impératifs de formation, professionnels, etc. L’anticipation de ces impératifs permet réellement d’éviter les tensions et d’assurer le bon déroulement de la manifestation.
  </p>

  <h2 class="mt-5">Cahier des charges des Coordinateurs de l’Animation</h2>
  <h3>Sous-secteurs</h3>
  <p>
    Selon les activités (idéalement : activité 1 / activité 2  ou tranches horaires (« mardi matin »)
  </p>

  <h3>Description générale</h3>
  <p>
    Les responsables du secteur animation sont ceux qui garantissent les activités proposées lors de la journée.  Ils s’assurent que ces activités soient adaptées aux participants et correctement préparées.
  </p>

  <h3>Tâches dans le secteur</h3>
  <b>Avant l’animation</b>
  <ul>
    <li>Répartir adéquatement les charges d’organisation au sein de l’équipe d’animation</li>
    <li>Définir un (max. 2) responsables pour chaque activité proposée. Cette personne sera la répondante pour cette activité.</li>
    <li>Superviser le travail des équipes d’organisation d’activités, les aider si besoin à établir des partenariats ou obtenir des autorisations (voir « tâches au sein de la coordination »)</li>
    <li>S’assurer que les équipes d’organisation d’activité fournissent dans les délais convenus une liste du matériel, ainsi que les besoins en termes de Ressources humaines (postes)  ou d’infrastructures (autorisations ?) – Exemple : non, on ne peut pas décider de louer l’Arena à 1 mois de l’activité !</li>
    <li>Orienter, cadrer les équipes d’organisation dans leur planification (possibilités) et relayer les éventuelles questions au sein de la coordination</li>
    <li>Veiller à ce que les activités proposées soient organisées dans les délais.</li>
    <li>Superviser la préparation des activités au sein des différentes équipes (délais, contacts, avancement de la préparation)</li>
    <li>Si nécessaire, organiser avec l’équipe de coordination une séance d’information pour les responsables</li>
    <li>S’assurer d’un Plan B en cas de pluie (en collaboration avec la Logistique)</li>
  </ul>
  <b>Sur place</b>
  <ul>
    <li>Superviser la bonne préparation des activités (contact régulier avec les « répondants»)</li>
    <li>S’assurer de la présence d’un « Mister Time » pour assurer le timing de l’activité (retards, etc)</li>
    <li>Superviser avec le sous-secteur matériel la gestion et la préparation du matériel pour chaque activité.</li>
    <li>Faire le point avec le répondant avant chaque activité pour voir si tout est OK, réagir si besoin.</li>
    <li>Superviser le déroulement de l’activité.</li>
    <li>S’assurer que les responsables des activités (répondants) collaborent avec le sous-secteur matériel pour le rangement efficace du matériel.</li>
    <li>Le cas échéant, participer aux réunions de coordination</li>
  </ul>

  <h3>Tâches dans la coordination</h3>
  <ul>
    <li>Gérer, avec le responsable du secteur logistique, le matériel qui sera nécessaire (quantités, etc.) pour éventuellement le commander.</li>
    <li>Gérer, avec l’équipe de coordination, les différentes demandes d’autorisation</li>
    <li>Gérer, avec le responsable de la communication, les informations (heures de rendez-vous ou informations propres à l’activité) qui sont transmises aux responsables et / ou aux participants (y.c. le « Mon Ami »)</li>
    <li>Gérer, avec le responsable des Ressources Humaines, les présences des responsables sur place (par exemple pour des postes, des fonctions particulières sur place etc). S’assurer que les personnes qui se voient attribuer des responsabilités sur place soient dûment informées de ce qu’elles doivent faire.</li>
    <li>Gérer, avec l’équipe de coordination et le « Mister Time », le timing sur place.</li>
    <li>Participer à la réunion de présentation de l’activité aux responsables.</li>
    <li>Participer à la réunion de présentation de l’activité aux Agents de Ville, SEVE, etc.</li>
    <li>Pouvoir répondre de toutes les activités et de leurs besoins (matériel, responsables, etc)</li>
  </ul>

  <h2 class="mt-5">Cahier des charges de la Coordination de la logistique</h2>
  <h3>Sous-secteurs</h3>
  Selon l’envergure et les besoins de l’activité, mais typiquement :
  <ul>
    <li>Matériel</li>
    <li>Nourriture</li>
    <li>Logement</li>
    <li>Lieux et infrastructures</li>
    <li>Bobologie</li>
    <li>Sécurité</li>
    <li>Transports / Véhicules</li>
  </ul>

  <h3>Description générale</h3>
  <p>
    Le secteur logistique a pour but de fournir l’infrastructure nécessaire au bon déroulement des activités. Il a pour but d’organiser tout ce qui est « autour » des activités en soi, et de mettre à disposition les ressources matérielles dont le secteur animation a besoin.
  </p>

  <h3>Tâches dans le secteur</h3>
  <p>
    (Toutes ces tâches sont dépendantes de la formule choisie pour l’activité !)
  </p>
  <b>Avant</b>
  <ul>
    <li>Former des équipes de sous-secteurs et définir pour chacune d’elles un répondant.</li>
    <li>
      Superviser la préparation et les achats des différents sous-secteurs:
      <ul>
        <li>
          Matériel:
          <ul>
            <li>Éventuellement suivre la commande de matériel J+S</li>
            <li>Transmettre toutes les demandes venant du secteur animation après approbation par le secteur finances</li>
            <li>Superviser la collaboration avec la Banque À Matériel</li>
            <li>S’assurer d’avoir un inventaire le plus précis possible du matériel à disposition pour l’activité.</li>
            <li>Trouver si nécessaire des partenaires en dehors de la BAM et de J+S qui pourraient fournir du matériel à louer (au meilleur prix !)</li>
          </ul>
        </li>
        <li>
          Nourriture:
          <ul>
            <li>Le cas échéant, superviser le plan bouffe établi par l’équipe par rapport au budget fourni par le secteur finance</li>
            <li>Superviser les éventuelles relations avec des partenaires (traiteurs, fournisseurs) pour l’approvisionnement de la nourriture</li>
            <li>S’assurer, avec le service communication, que les éventuelles restrictions alimentaires soient gérables une fois sur place.</li>
            <li>Veiller à la mise en place d’une éventuelle équipe de service  / de cuisine pour l’activité, avec l’aide du secteur Communication.</li>
            <li>Veiller à ce que les différentes restrictions alimentaires (végétarisme, restrictions religieuses, allergies etc.) soient prises en compte dans l’élaboration des menus</li>
          </ul>
        </li>
        <li>
          Logement:
          <ul>
            <li>Aller visiter les différents lieux de logement (abris, terrains) AVEC le responsable du sous-secteur</li>
            <li>Superviser l’élaboration des différents contrats</li>
            <li>Le cas échéant, prévoir des équipes de gestion des différents hébergements.</li>
            <li>Prévoir des équipes de nettoyage / rangement.</li>
          </ul>
        </li>
        <li>
          Lieux et infrastructures:
          <ul>
            <li>Aller repérer des lieux, trouver un endroit d’activité qui convienne aux besoins de l’activité tels que décrits en accord avec l’équipe de coordination.</li>
            <li>S’assurer que les diverses autorisations ou contrats de location soient en ordre pour les différents lieux utilisés (en accord avec l’équipe de coordination)</li>
          </ul>
        </li>
        <li>
          Bobologie:
          <ul>
            <li>S’assurer de la mise en place d’une équipe / d’un poste de premier secours dûment équipé</li>
            <li>Superviser la vérification des médicaments à disposition, le cas échéant compléter la panoplie !</li>
          </ul>
        </li>
        <li>
          Sécurité:
          <ul>
            <li>Si l’activité nécessite une gestion de la sécurité (circulation, surveillance du terrain, établissement des limites), s’assurer d’avoir à disposition suffisamment de personnes pour assurer cette sécurité, avec l’aide du secteur Ressources humaines.</li>
          </ul>
        </li>
        <li>
          Transports:
          <ul>
            <li>Organiser la réservation des transports des participants</li>
            <li>Veiller à la location de suffisamment de véhicules pour pourvoir aux besoins de transport de matériel durant l’activité</li>
            <li>S’assurer, avec l’aide du secteur Ressources humaines, d’avoir suffisamment de chauffeurs à disposition sur place (en possession du bon permis).</li>
            <li>Organiser l’arrivée / le départ des participants (places de parc, etc)</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h3>Sur place</h3>
  <ul>
    <li>S’assurer que les infrastructures et le matériel soient disponibles à temps pour l’animation</li>
    <li>Superviser les entrées et les sorties de matériel  de façon à gérer efficacement le matériel utilisé</li>
    <li>Répondre aux besoins de l’animation</li>
    <li>S’assurer de la bonne gestion du poste 1er secours, transmettre à l’équipe de coordination toutes les nouvelles sanitaires importantes.</li>
    <li>Superviser avec le sous-secteur nourriture la bonne préparation des éventuels repas.</li>
    <li>Le cas échéant, veiller à une distribution efficace et rapide des repas aux participants</li>
    <li>Superviser, avec le sous-secteur matériel,  le rangement du matériel de l’activité</li>
    <li>Le cas échéant, participer aux réunions de coordination</li>
    <li>Assurer la gestion logistique (circulation etc.) des arrivées et départs des participants.</li>
  </ul>

  <h3>Tâches dans la coordination</h3>
  <ul>
    <li>Gérer, avec le responsable du secteur animation et/ou avec l’équipe de coordination, le matériel qui sera nécessaire (quantités, etc.) pour éventuellement le commander.</li>
    <li>Gérer, avec l’équipe de coordination, les différentes demandes d’autorisation</li>
    <li>Gérer, avec le responsable de la communication, les informations concernant la logistique (matériel à prendre, sécurité, etc.) qui sont transmises aux responsables et / ou aux participants.</li>
    <li>Gérer, avec le responsable des Ressources Humaines, les présences des responsables sur place et leur fonction (responsabilité). S’assurer que les personnes qui se voient attribuer des responsabilités sur place soient dûment informées de ce qu’elles doivent faire.</li>
    <li>Gérer, avec l’équipe de coordination et le « Mister Time », le timing sur place.</li>
    <li>Participer à la réunion de présentation de l’activité aux responsables</li>
    <li>Participer à la réunion de présentation de l’activité aux Agents de Ville, SEVE, etc.</li>
    <li>Pouvoir répondre de toutes les activités et de leurs besoins (matériel, responsables, etc.)</li>
  </ul>

  <h2 class="mt-5">Cahier des charges de la Communication</h2>
  <h3>Sous-secteurs</h3>
  Selon l’envergure et les besoins de l’activité mais typiquement :
  <ul>
    <li>Circulaires</li>
    <li>« Mon Ami » et documents distribués sur place  en lien avec les responsables RH</li>
    <li>Publicité auprès du public cible</li>
    <li>Rédaction des communiqués de Presse</li>
  </ul>
  <h3>Description générale</h3>
  <p>Le secteur de la communication a la tâche, avec le secteur animation, de rédiger et d’envoyer les différents documents aux responsables, aux participants et à la Presse.</p>
  <h3>Tâches dans le secteur</h3>
  Définir le public cible et la stratégie de communication adéquate (média, lieu, prix)
  <br>
  <b>Avant</b>
  <ul>
    <li>
      Selon les demandes de l’Animation et des Ressources Humaines, envoyer  au minimum
      <ul>
        <li>Un communiqué sur la date et le contenu de l’activité (typiquement via l’Info @SG ou l’Info ASSOCIATION)</li>
        <li>Une circulaire pour les responsables leur donnant plus de détails et les modalités d’inscription</li>
        <li>Un modèle de lettre à adresser aux parents (éventuellement aussi pour l’inscription)</li>
        <li>Une circulaire aux responsables avec tous les détails finaux (heures et lieux de rendez-vous)</li>
      </ul>
    </li>
    <li>
      Organiser, avec l’Animation et les Ressources Humaines, une réunion d’information destinée aux responsables ayant pour but de:
      <ul>
        <li>Clarifier le déroulement de la journée</li>
        <li>Prendre les inscriptions des responsables pour les différentes tâches à pourvoir sur place</li>
        <li>Répondre aux questions des responsables.</li>
      </ul>
    </li>
  </ul>
  <h3>Sur place</h3>
  <p>Proposer, avec l’équipe d’animation, un « stand d’information », point de rencontre pour les questions sur place.</p>

  <h2 class="mt-5">Cahier des charges des Ressources Humaines</h2>
  <h3>Sous-secteurs</h3>
  Selon l’envergure et les besoins de l’activité mais typiquement :
  <ul>
    <li>Inscriptions</li>
    <li>Badges / autorisations</li>
    <li>Responsables</li>
  </ul>
  <h3>Description générale</h3>
  <p>
    Le chargé des Ressources Humaines est principalement de centraliser les demandes RH des différents domaines, de répondre avec réalisme, de recruter les bénévoles et de les informer de leurs tâches sur place.
  </p>
  <h3>Tâches dans le secteur</h3>
  <ul>
    <li>Rassembler les besoins auprès des responsables de secteur</li>
    <li>Gérer les inscriptions des bénévoles en lien avec la communication</li>
    <li>Rédiger les descriptifs de tâches pour les bénévoles</li>
    <li>Organiser les remerciements pour les bénévoles</li>
  </ul>
  <h3>Tâches dans la coordination</h3>
  <ul>
    <li>Rassembler les besoins des secteurs</li>
    <li>Soumettre les descriptifs des tâches aux chefs de secteurs pour approbation</li>
  </ul>

  <h2 class="mt-5">Cahier des charges des Coordinateurs</h2>
  <h3>Sous-secteurs</h3>
  <ul>
    <li>Finances</li>
    <li>Animation</li>
    <li>Logistique</li>
    <li>Communication</li>
  </ul>
  <h3>Description générale</h3>
  <p>
    Réunir tous les participants autour d’un projet. Veiller à ce que tous les secteurs effectuent leur travail conjointement. Communiquer l’avancement du projet à tous.
  </p>
  <h3>Tâches dans le secteur</h3>
  <b>Finance</b>
  <ul>
    <li>Établir le budget en tenant compte les possibilités de financement</li>
    <li>Transmettre le budget aux différents secteurs</li>
    <li>Mettre sur pied et expliquer la politique de remboursement à tous les membres</li>
    <li>Mettre à jour le budget en fonction des réponses</li>
    <li>Rédiger un dossier de financement pour les demandes publiques/ privées</li>
    <li>Organiser des activités d’autofinancement le cas échéant</li>
  </ul>
  <b>Animation</b>
  <ul>
    <li>Droit de regard sur la qualité des activités par rapport au projet de début</li>
  </ul>
  <b>Logistique</b>
  <ul>
    <li>Points réguliers sur la réalisation des infrastructures.</li>
    <li>Transmission des informations RH pour les questions de quantité</li>
  </ul>
  <b>Communication</b>
  <ul>
    <li>S’assurer de la communication interne</li>
    <li>Recrutement de bénévoles en lien avec les besoins RH</li>
    <li>Préparer les communiqués de presse</li>
    <li>Diffuser les communiqués de presse</li>
    <li>Préparer la stratégie de communication</li>
  </ul>

  <h3>Tâches dans la coordination</h3>
  <ul>
    <li>Organiser une réunion de départ pour fixer les enjeux de l’activité avec toutes les personnes concernées. Se mettre d’accord sur le but de l’activité. Se répartir les cahiers des charges de manière consciente entre les participants.</li>
    <li>Présenter les timelines et les chaînes de décision, pour savoir qui donne l’input pour quoi et qui a le dernier mots pour quoi dans quel délai.</li>
    <li>Organiser les suivis des timeline. En plénum ou par team. Prêter une attention particulière à la communication entre les secteurs.</li>
  </ul>

  <h3>Proposition de Timeline</h3>
  <p>
    Pour une manifestation concernant un public semi-captif (vos membres, vos sympathisants et leurs contacts), se déroulant dans l’espace public, pour une association à but non-lucratif, comptant sur des subventions publiques pour 30% de son budget, 35% d’autofinancements et 35% de fonds propres.
  </p>
  <div id="timeline">
    <div>
      <section class="year">
        <h3>J-9m</h3>
        <section>
          <ul>
            <li>Définir un projet</li>
            <li>Définir un public</li>
            <li>Définir un lieu</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-8m</h3>
        <section>
          <ul>
            <li>Définir le budget</li>
            <li>Définir le programme</li>
            <li>Définir la logistique</li>
            <li>Obtenir les autorisations</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-6m</h3>
        <section>
          <ul>
            <li>Obtenir les financements</li>
            <li>Réaliser le programme</li>
            <li>Réaliser la logistique</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-120</h3>
        <section>
          <ul>
            <li>Réaliser la communication</li>
            <li>Recruter les bénévoles</li>
            <li>Diffuser les informations auprès des bénévoles</li>
          </ul>
        </section>
      </section>
      <section class="year">
        <h3>J-30</h3>
        <section>
          <ul>
            <li>Délai matériel</li>
          </ul>
        </section>
      </section>
    </div>
  </div>

</section>
