---
layout: canevas
createdAt: 03.10.2020
updatedAt: 20.02.2025
version: 2.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque recherche de fonds est différente et doit toujours s’adapter à son cas spécifique.
  <br>
  Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer si vous le sentez nécessaire une <a href="/conseil/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Recherche de fonds</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">1. Préambule</h2>
  <p>
    La première étape consiste à réfléchir à la pertinence d’effectuer une recherche de fonds pour son association.
  </p>

  <p>
    Processus long et fastidieux, la recherche de fonds implique des procédures administratives lourdes et l’établissement d’un grand nombre de documents : état des lieux complet des activités et finances de l’association ; budget et description du projet visé ; plan financier développant les recettes et charges futures ; statuts ; procès-verbal de l’Assemblée générale constitutive ; liste des membres du Comité ; etc.
  </p>

  <p>
    En plus de ces démarches à effectuer en amont, l’association est tenue de fournir un certain nombre de documents à la suite de l’événement ou du projet mené – leur type dépend des bailleurs de fonds – servant globalement à témoigner de la bonne utilisation des fonds.
  </p>
  <p>
    Or, les demandes de subventions ne constituent pas la seule source de financement concrète pour les associations. Voici un aperçu des autres possibilités :
  </p>
  <ul>
    <li>les cotisations annuelles des membres ;</li>
    <li>l’autofinancement, par le biais de ventes de produits, de la tenue d’un stand de nourriture ou boissons, etc. (l’association génère des revenus suffisants pour couvrir son activité);</li>
    <li>la récupération ou le partage de matériel ;</li>
    <li>la négociation de prestations gratuites ou à prix réduit auprès de partenaires, en échange de contreparties émises par l’association ;</li>
    <li>la gestion efficace des charges et l’absence de grandes dépenses.</li>
  </ul>
  <p>
    En outre, la nouvelle procédure de demande de subventions auprès de la Ville de Genève engendre des conséquences fiscales. A ce sujet, un canevas relatif à la fiscalité associative est <a href="/services/outils-associatifs/canevas/tenir-une-tresorerie-associative.html">disponible ici</a>.
  </p>
  <p>
    Prendre un temps de réflexion pour déterminer si la recherche de fonds est une méthode de financement adaptée aux besoins de l’association, en tenant compte de la charge de travail qui en découle, est une étape essentielle.
  </p>

  <h3>1.1. Motivations à la recherche de fonds</h3>
  <p>
    Il est important de distinguer deux types de motivations à solliciter des fonds :
  </p>
  <ul>
    <li>
      l’aide pour les frais liés au fonctionnement de l’association; c’est-à-dire les dépenses d’opérations courantes de l’association, telles que la location de salle, la location de bureaux, l’achat de matériel de bureau, les éventuels salaires, etc.
    </li>
    <li>le financement d’un projet particulier qui nécessiterait un investissement externe. Par exemple, l’association d’une troupe de théâtre chercherait des fonds pour la production de quelques représentations spécifiques.</li>
  </ul>

  <p>
    Cette distinction entre fonctionnement de l’association et projets spécifiques est capitale ; de notre expérience commune, les entités publiques, fondations ou entreprises participent plus volontiers au financement de projets. Tandis que ces derniers sont précisément cadrés dans le temps, l’investissement dans le fonctionnement de l’association peut perdurer aussi longtemps que cette dernière existe.
  </p>
  <p>
    Il est généralement attendu de la plupart des associations qu’elles fonctionnent de leurs propres moyens, tout en ayant la possibilité de bénéficier d’aides pour certains projets ponctuels et de plus grande ampleur.
  </p>

  <h2 class="mt-5">2. Délais et planification</h2>

  <p>La recherche de fonds pour une association s’effectue une fois l’association constituée et active.</p>
  <p>
    Les demandes de subventions destinées à la réalisation d’un projet spécifique doivent être largement anticipées, dans la mesure où, d’une part, les fondations et entités publiques se réunissent pour deux à trois séances annuelles lors desquelles elles sélectionnent les projets qu’elles financeront et, d’autre part, les bailleurs de fonds ne soutenant pas de projets déjà en cours.
  </p>
  <p>
    Certaines administrations publiques peuvent statuer rapidement sur une demande si le dicastère concerné prend la décision de manière autonome. Ce cas de figure est toutefois rare. En outre, s’agissant des subventions octroyées par la Ville de Genève, les démarches et délais sont stricts ; l’ensemble des informations est à retrouver sur le <a href="https://www.geneve.ch/public/associations/portail-demarches" target="_blank">portail des démarches en ligne de la Ville de Genève</a>.
  </p>
  <p>
    Il est ainsi recommandé de compter un délai de plusieurs mois depuis l’envoi d’une demande de fonds. Les dates des séances d’attribution sont parfois publiques et peuvent être trouvées sur les sites des bailleurs de fonds envisagés. Il est également possible de contacter les entités directement afin d’essayer d’obtenir ces informations. Dans le cas des administrations publiques (communes et Canton), la période d’octobre à décembre est la plus propice aux demandes de fonds, car certains budgets doivent nécessairement être alloués avant le début de l’exercice suivant.
  </p>
  <p>En outre, des appels d’offre sont ponctuellement lancés par les communes et le Canton sur des thématiques précises. Les associations œuvrant dans le cadre de ces thèmes peuvent ainsi prétendre à des subventions. Il s’agit, par exemple, de la Ville de Genève à travers son Service Agenda-21.</p>

  <h2 class="mt-5">3.	Dépôt d’une demande</h2>
  <p>
    La première étape consiste à établir un dossier de présentation du projet, ainsi qu’un budget comprenant les revenus attendus et les dépenses présumées. Il est pertinent de préciser toutes les sommes espérées de la part de tous les bailleurs potentiels, permettant ainsi à chacun d’analyser les chances de réalisation du projet et l’importance de sa contribution respective.
  </p>
  <p>
    Le dossier de présentation doit comprendre <i>a minima</i>
  </p>
  <ul>
    <li>une présentation de l’association ;</li>
    <li>une présentation du projet et de ses activités ;</li>
    <li>une explication du public visé.</li>
  </ul>

  <p>
    Il est possible d’ajouter des informations relatives aux éditions précédentes si le projet a déjà eu lieu, ainsi que des nouvelles perspectives de développement. S’il s’agit de la première édition, d’autres réalisations de l’association peuvent être évoquées à titre d’exemple.
  </p>
  <p>Les documents suivants sont généralement demandés :</p>
  <ul>
    <li>un budget pour le projet ;</li>
    <li>les comptes du dernier exercice ;</li>
    <li>une lettre de l’organe de vérification des comptes pour l’exercice précédent ;</li>
    <li>la liste des membres du Comité ;</li>
    <li>le PV de l’Assemblée générale constitutive signés et datés ;</li>
    <li>le PV de la dernière Assemblée générale signés et datés ;</li>
    <li>le dernier rapport d’activité.</li>
  </ul>

  <p>
    Chaque bailleur de fonds est ensuite libre de solliciter une liste différente de documents. Par exemple un formulaire spécifique, le budget prévisionnel de l’association pour l’année en cours / suivante, un plan financier avec la répartition des demandes de fonds effectuées, les devis pour les dépenses prévues, un bulletin de versement, des lettres de références, etc.
  </p>
  <p>
    Au regard du budget prévisionnel, joindre tout devis déjà établi permet d’étayer les montants estimés.
  </p>
  <p>
    Il est recommandé de prendre contact par téléphone avec les subventionneurs potentiels, en précisant d’emblée ses buts, afin de connaître le nom de la personne à qui le dossier doit être adressé. 
  </p>
  <p>
    Les procédures et délais fixés par les entités publiques et les fondations sont stricts, il est donc important de les respecter. Les plus petites fondations ou entreprises privées offrent davantage de marge de manœuvre. Il est, par exemple, possible de renvoyer une proposition en l’absence d’une première réponse.
  </p>

  <h2 class="mt-5">4.	Entités subventionneuses</h2>
  <h3>4.1. Fondations</h3>

  <p>
    La Suisse compte de nombreuses fondations, poursuivant des buts variés. Il est important d’effectuer une recherche avancée sur celles qu’il est pertinent de contacter en fonction des buts de l’association. Ces derniers devront être mis en avant lors de la présentation de l’association ou du projet en question. Les plateformes suivantes permettent une recherche de fondations par mots-clés :
  </p>
  <ul>
    <li>
      <a href="https://www.fundraiso.ch/de" target="_blank">fundraiso.ch</a>
      <a href="https://www.esa.admin.ch/fr/repertoire-des-fondations" target="_blank">Répertoire national des fondations</a>
      <a href="https://stiftungschweiz.ch/" target="_blank">Stiftung Schweiz</a>
      <a href="https://sitg.maps.arcgis.com/apps/MapJournal/index.html?appid=9895b4cab37b4e319bcfae9fa8e3b99b" target="_blank">Carte interactive du milieu philanthropique Suisse</a>
    </li>
  </ul>

  <p>
    La Loterie Romande, la fondation Hans-Wilsdorf ainsi que le Pour-Cent culturel font partie des fondations les plus actives sur le canton de Genève. Elles soutiennent principalement les actions qui ont lieu sur le territoire respectivement romand et genevois.
  </p>

  <h3>4.2. Entreprises privées</h3>
  <p>Les conseils concernant les fondations s’appliquent également aux entreprises privées, qu’il est possible de contacter pour une recherche de fonds. Quelques précisions peuvent toutefois être apportées.</p>
  <p>Une entreprise privée préférera soutenir un projet qui lui apporte une certaine visibilité, un avantage ou une contrepartie. La relation est ainsi plutôt de l’ordre du partenariat entre l’association et l’entreprise donatrice. Il peut être intéressant de proposer différents médias et supports de communication susceptibles d’améliorer la visibilité des sponsors de l’association, et d’évoquer les éventuels avantages à retirer d’un tel partenariat.</p>
  <p>Les entreprises privées proposent parfois un soutien en nature, c’est-à-dire sous forme d’aide matérielle. Celle-ci est utile en cas de besoin de fournitures, de lieu, de boissons ou de nourriture dans le cadre de l’organisation d’un événement. Il faut toutefois noter que, dans le cas d’un apport en nature et quelle que soit sa forme, aucune contribution émise par un sponsor ne peut être revendue par l’association.</p>
  
  <h3>4.3. Collectivités publiques</h3>
  <p>Les entités publiques, comme l’État de Genève ou les communes, participent activement au financement de projets associatifs. Il est primordial que le projet en question se tienne sur leur territoire et ait pour bénéficiaire principal ses habitant·es. Il est également très avantageux, bien que non nécessaire, que le projet soit d’utilité publique et représente un apport pour la collectivité. Les exigences fixées pour le financement de projets sont publiques et peuvent être vérifiées en amont.</p>

  <h4>4.3.1. La Ville de Genève</h4>
  <p>Au niveau de la Ville de Genève, différents services offrent la possibilité de solliciter des aides financières. Pour les associations, il s’agit principalement de l’Unité de vie associative (UVA, Département de la cohésion sociale et de la solidarité) et du Service culturel (SEC, Département de la culture et de la transition numérique), en plus des projets ponctuels lancés sur des thématiques spécifiques tels que déjà évoqués plus haut.</p>
  <p>Le Service culturel de la Ville de Genève (SEC) accorde des subventions dans les domaines suivants :</p>
  <ul>
    <li>Pour les projets d'actions culturelles et de médiation</li>
    <li>Pour les projets culturels dans le domaine des arts visuels</li>
    <li>Pour les projets culturels dans le domaine de la danse</li>
    <li>Pour l’organisation de manifestations pluridisciplinaires</li>
    <li>Pour les projets culturels dans le domaine de la musique</li>
    <li>Pour les projets culturels dans le domaine du théâtre et des arts du récit</li>
  </ul>
  <p>En outre, le Service Agenda-21 accorde des subventions ponctuelles pour les organisations et l’urgence climatique : <a href="https://www.geneve.ch/demarches/faire-demande-subvention-ponctuelle-service-agenda-21-organisations-urgence-climatique" target="_blank">https://www.geneve.ch/demarches/faire-demande-subvention-ponctuelle-service-agenda-21-organisations-urgence-climatique</a>.</p>

  <p>L’Unité de vie associative traite des demandes de subvention liées aux services de la jeunesse et social, par exemple :</p>
  <ul>
    <li>à l’animation au sein des quartiers ;</li>
    <li>au financement de permanences d’accueil social ;</li>
    <li>au financement de projets d’insertion professionnelle pour les jeunes ;</li>
    <li>au financement de projets de lutte contre l’isolement des seniors.</li>
  </ul>

  <p>Quelques précisions doivent être ajoutées concernant le dépôt de demande de subventions en Ville de Genève, tous services confondus :</p>
  <p>Dès mi-septembre 2024, la procédure pour les demandes de subventions monétaires octroyées par la Ville de Genève change. Les nouvelles démarches mises en place centralisent les demandes de subventions sur un portail en ligne qui utilise la plateforme e-démarches de l’Etat de Genève.</p>
  <p>L’utilisation de cette plateforme engendre plusieurs conséquences administratives, et financières, pour les associations, qui sont détaillées dans le <a href="/services/outils-associatifs/canevas/demandes-de-subventions-aupres-de-la-ville-de-geneve-nouvelles-demarches.html">canevas dédié</a>.</p>
  <p>Ces démarches préalables doivent être entreprises au plus tard un mois avant le délai fixé pour le dépôt d’un dossier de demande de subvention.</p>

  <h2 class="mt-5">5. Annulation du projet subventionné</h2>

  <p>
    Si l'événement ou projet pour lequel des fonds ont été obtenus ne peut être mené à bien, il convient de contacter l'institution donatrice pour s’enquérir du traitement à apporter à la subvention allouée.
  </p>
  <p>
    Le montant sollicité étant relatif à un budget établi pour un projet précis, son annulation implique l’invalidation dudit budget. Il est ainsi probable que l’institution demande à récupérer les fonds pour les redistribuer à d’autres bénéficiaires.
  </p>
  <p>
    La démarche consiste à contacter l’entité contributrice par courrier, afin d’expliquer la situation et de connaître la procédure de remboursement. Il arrive que certains bailleurs n’exigent aucun retour monétaire en cas d’annulation ; il peut être judicieux de mentionner cette alternative dans le courrier afin d’ouvrir cette possibilité.
  </p>

  <h2 class="mt-5">6. Octroi d’une subvention</h2>

  <p>
    Les démarches à effectuer en cas d’attribution de subvention dépendent des exigences de chaque entité donatrice, qui sont communiquées au moment de l’octroi des fonds.
  </p>

  <p>
    Il est dans tous les cas recommandé d’établir des comptes précis, dans la mesure où ce document est le principal justificatif sollicité par les bailleurs une fois le projet réalisé. En ce sens, toutes les quittances, factures, reçus doivent être précieusement conservés.
  </p>

  <p>
    Il peut être intéressant de conduire une enquête de satisfaction à la suite du projet ou de l’événement, afin de justifier sa reconduction par la suite.
  </p>

  <p>
    Des remerciements adressés à l’ensemble des bailleurs de fonds, avec photos du projet ou de l’événement à l’appui, sont toujours bienvenus.
  </p>

  <p>
    De manière générale, un certain temps doit être réservé au travail administratif qui suivra la réalisation du projet.
  </p>

  <h2 class="mt-5">7. Ressources</h2>
  <ul>
    <li><a href="https://www.geneve.ch/themes/culture/soutien-culture/subventions" target="_blank">https://www.geneve.ch/themes/culture/soutien-culture/subventions</a></li>
    <li><a href="https://www.geneve.ch/public/associations/soutien-vie-associative-domaine-cohesion-sociale" target="_blank">https://www.geneve.ch/public/associations/soutien-vie-associative-domaine-cohesion-sociale</a></li>
    <li><a href="https://www.geneve.ch/demarches/demande-subvention-ponctuelle" target="_blank">https://www.geneve.ch/demarches/demande-subvention-ponctuelle</a></li>
    <li><a href="https://www.geneve.ch/public/associations/portail-demarches" target="_blank">https://www.geneve.ch/public/associations/portail-demarches</a></li>
  </ul>
</section>
