---
layout: canevas
createdAt: 23.09.2019
updatedAt: 23.09.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque soirée est différente et demandera par conséquent une gestion de sa sécurité adaptée au profil de l’événement, au public et au lieu. Ce canevas n’est donc pas une recette miracle pour vous assurer la soirée de vos rêves, mais plutôt un ensemble de points destinés à guider votre réflexion afin de minimiser les risques à travers une gestion de la sécurité pertinente. Les conseils qui suivent n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Sécurité en soirée</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Les chargés de sécurité</h2>
  <p>
    Ceux-ci seront amenés à gérer des situations complexes demandant rigueur, tact et présence d’esprit. C’est pourquoi leur comportement doit suivre des règles inflexibles qui fondent leur légitimité en tant que chargés de sécurité.
  </p>
  <p>
    La sobriété constitue la première de ces lignes rouges. Qu’il s’agisse d’alcool ou de produits stupéfiants, un chargé ne peut en aucun cas effectuer sa délicate mission sous emprise et c’est pourquoi une politique d’abstinence stricte est observée dans le milieu. En général, tout individu est rapidement convaincu du bien-fondé de celle-ci, mais rappelez au besoin qu’en cas de soucis, la police effectuera un test alcoolique ou pour autres substances stupéfiantes dont le résultat pourra engager la responsabilité du chargé de sécurité en question.
  </p>
  <p>
    Les chargés de sécurités doivent être rapidement identifiables par chacun. C’est pourquoi l’utilisation de brassard siglé “SÉCURITÉ” est souvent utilisée, mais d’autres solutions sont envisageables du moment qu’elles permettent à chacun d’identifier rapidement la fonction des chargés de sécurité. Si le marquage choisi permet aux chargés de jouir d’une certaine autorité auprès des participants à la soirée, il est important de noter deux choses.
  </p>
  <ul>
    <li>Premièrement, son comportement se reflète sur l’ensemble des chargés de sécurité, il doit donc être irréprochable. Le chargé s’efforce de se montrer respectueux des individus avec qui il interagit: son rôle est celui d’un modérateur et pas d’un cowboy, il fait un usage proportionnel et mesuré de sa persuasion comme de sa force physique.</li>
    <li>Par ailleurs, il est possible que des individus, en état d’ébriété ou non cherchent à provoquer ou s’en prennent aux chargés de sécurité par défiance de leur autorité. Il est alors vital que ceux-ci gardent leur sang-froid en comprenant que ce n’est pas leurs personnes qui seraient insultées, mais bien leur fonction. Ils se doivent d’aborder la situation posément, mais fermement. Le recours à un autre chargé de sécurité dans l’approche des perturbateurs peut aider à désamorcer la situation.</li>
  </ul>

  <h2 class="mt-5">Gestion de l’entrée</h2>
  <h3>Porte</h3>
  <p>
    Afin d'accueillir les participants de la soirée et gérer leurs flux, nous recommandons s’assigner entre un et trois chargés de sécurité à ce poste. Puisque les participants seront impatients d’entrer et que le chargé de sécurité sera leur premier contact avec les organisateurs,  il se doit d’être calme, respectueux et efficace. Il sera en charge de maintenir l’ordre à l’extérieur de l’événement, tout en veillant à ce que la capacité d’accueil de celui-ci ne soit pas dépassée. En effet, une surcapacité, en plus de détériorer le plaisir de la soirée, peut entraîner des bousculades qui elles-mêmes peuvent dégénérer. Il faut par ailleurs veiller attentivement au respect de la capacité légale de la salle. Pour ces raisons, il est préférable qu’une queue se forme à l’extérieur plutôt qu’à l’intérieur de l'événement.
  </p>
  <p>
    Les chargés en poste à l’entrée de la soirée sont également responsables du filtrage des participants, sur la base de consignes communiquées par le responsable de la soirée ou de leurs propres observations. Les critères de sélection mentionnés par la suite sont présentés dans l’ordre de contrôle que nous vous suggérons afin d’optimiser celui-ci.Il peut s’avérer nécessaire d’interdire — définitivement ou non — l’entrée de la soirée aux individus en état d’ébriété avancé afin de les protéger et de garantir l’ordre dans l'événement. Il en va de votre responsabilité éthique mais aussi légale — rappelons qu’il est interdit de servir de l’alcool à une personne en état d’ébriété (<a href="https://www.ge.ch/legislation/rsg/f/s/rsg_i2_22.html">Art. 31, al. 3 LRDBHD</a>).
  </p>
  <p class="mb-0">
    L’âge des participants peut également être établi comme un critère de sélection à l’entrée au moyen de l’inspection des cartes d’identité. Le chargé de sécurité doit prendre en compte que les participants vont prendre du temps pour sortir leurs cartes d’identité et anticiper ceci en leur signalant en amont de la queue de les préparer.
  </p>
  <ul>
    <li>Si une personne n’est pas en âge d’entrer dans la soirée, il doit calmement mais fermement lui refuser l’accès. En cas de résistance, il peut expliquer que les règles sont fixées par le responsable de la soirée, et qu’il est sommé de les exécuter sans être en capacité d’y faire exception. Pour autant le chargé de sécurité ne doit pas perdre de temps en discussions. De plus, cela pourrait être interprété par les autres participants comme un signal qu’il y aurait matière à négocier, particulièrement par ceux qui accompagnent la personne à qui vous refusez l’entrée.</li>
    <li>Si une personne n’est pas en possession de la preuve d’identité demandée, le chargé de sécurité évalue la situation. Il peut accepter un autre document sur lequel figure la date de naissance de la personne contrôlée en gardant en tête que c’est sa responsabilité qu’il engage s’il fait rentrer une personne qui ne respecte pas les critères de la soirée en cas de problème, ou lui refuser l’entrée. Attention, le chargé de sécurité n’est pas un garde-frontière et ne doit pas exagérer son rôle. Seuls les facteurs retenus doivent être pris en compte dans le filtrage qu’il opère, et aucunement son affinité avec les participants.</li>
  </ul>
  <p>
    Enfin, le contrôle des sacs est une étape indispensable afin de vérifier que les participants ne font pas entrer de produits illégaux, d’objets dangereux ou d’alcool. Outre le manque à gagner, il en va également de la sécurité des participants puisque les serveurs pourront refuser de servir une personne en état d’ébriété. De plus, une bouteille en verre peut être utilisée comme projectile. Nous vous proposons une marche à suivre précise afin de garantir la sécurité de votre soirée tout en protégeant vos chargés de sécurités de réclamations de la part des participants:
  </p>
  <ul>
    <li>Le chargé de sécurité demande gentiment à la personne d’ouvrir son sac.</li>
    <li>Il observe avec une lampe de poche ce que contient le sac sans jamais mettre les mains à l’intérieur (si quelque chose venait à disparaître, il serait le premier suspecté).</li>
    <li>S’il trouve quelque chose qu’il ne peut pas laisser entrer en soirée, il demande à la personne de le sortir de son sac.</li>
    <li>Concernant les bouteilles en verre, il peut proposer à la personne d’en consommer le contenu à l’extérieur plutôt que de la lui confisquer directement.</li>
  </ul>
  <p>
    La fouille des sacs doit se faire à chaque fois que la personne entre dans la soirée. Rappelons que la fouille des sacs constitue une certaine intrusion dans la vie privée des participants, et que de ce fait le comportement des chargés de sécurité doit être des plus professionnel dans cette tâche.
  </p>

  <h2 class="mt-5">Place devant le lieu</h2>
  <p>
    Les chargés de sécurités sont aussi responsables d’éviter toute nuisance sonore occasionnée par l’attroupement devant l’entrée de l’événement. Il en va évidemment de la tranquillité des riverains, mais aussi d’éviter tout dépôt de plainte ou déplacement de la police.
  </p>
  <p>
    Généralement devant l’entrée un attroupement se forme. Lors de cet attroupement, le niveau sonore risque d’être souvent élevé. Il est donc de vos devoirs, si personne d’autre n’est désigné pour le faire, d’éviter toute nuisance sonore. Penser que les riverains veulent être tranquilles. Il est toujours positif pour la soirée qu’elle se déroule sans plainte. Afin de faire baisser le niveau sonore, nous préconisons la démarche suivante :
  </p>
  <ol>
    <li>Se diriger vers les personnes qui font du bruit et leur demander de baisser d’un ton. Puis s’éloigner pour leur communiquer que vous leur faites confiance. Dans la majorité des cas, ce simple rappel suffit.</li>
    <li>Si les personnes continuent, le chargé de sécurité réitère sa demande en leur expliquant qu’il faut prêter attention au voisinage et reste près du groupe pour leur intimer la nécessité de faire attention.</li>
    <li>
      Si elles persistent, le chargé de sécurité les avertit plus sèchement. Si cela ne suffit pas:
      <ol>
        <li>Dans le cas où les personnes se trouvent sur un terrain appartenant au lieu de l’événement, le chargé de sécurité les invite à quitter ce terrain (voir point intervention);</li>
        <li>
          Dans le cas où les personnes se trouvent sur la voie publique, il les invite à entrer dans la soirée ou à se déplacer plus loin.
          <br>
          Refuser l’entrée à ces personnes ne règlera pas le problème puisqu’ils continueront (et redoubleront probablement) leur nuisance à l’extérieur.
        </li>
      </ol>
    </li>
  </ol>

  <h2 class="mt-5">Gestion de l’intérieur</h2>
  <h3>Garder les portes</h3>
  <p>
    Il s’agit du rôle premier des chargés de sécurité à l’intérieur. Bien qu’elle puisse paraître anodine, cette tâche implique la surveillance généralisée de la soirée. Il est les yeux et oreilles des chargés de sécurités à l’extérieure quant à la capacité de la salle ou les éventuels problèmes. En restant debout, il peut intervenir rapidement dans la salle avant qu’un heurt se produise et profite d’une vue d’ensemble sur tous les participants. Si vous devez refuser l’accès à une personne, elle voudra, dans la majorité des cas, d’entrer en négociation avec vous. Vous perdez tout contrôle sur la situation à l’instant où vous entrez dans son jeu, c’est pourquoi il faut savoir répondre d’un simple mais ferme non. Si la personne persiste, ignorez-la, vous avez après tout mieux à faire. Ne vous inquiétez pas, si la personne a vraiment le droit de passer par cette porte elle viendra avec l’organisateur et ce dernier vous donnera l’ordre ou pas de laisser passer la personne.
  </p>
  <p>
    À ce titre, il est très intéressant pour l’équipe des bénévoles d’avoir un code vestimentaire ou en tout cas distinctif qui permettra aux chargés de sécurité de les identifier rapidement.
  </p>

  <h3>Les toilettes</h3>
  <p>
    Un chargé de sécurité doit vérifier de temps à autre les toilettes afin de s’assurer qu’il ne s’y passe rien de contraire au règlement de la soirée et de la loi. Certaine personnes se permettent de fumer ou de consommer de la drogue à l’intérieur des cabines, d’autre vomissent et ont besoin d’être pris en charge. Elles peuvent également être utilisées pour avoir des relations sexuelles. Les chargés de sécurité doivent veiller à cela et interdire catégoriquement tout comportement inadapté.
  </p>
  <p>
    De ce fait, vous devez respecter un règlement préalablement défini quant à la mixité ou non des toilettes afin de ne pas avoir de problème. Si la soirée prévoit des toilettes non mixtes, veillez à envoyer des chargés de sécurité dont l’identité de genre correspond à la politique de la cabine.
  </p>

  <h3>Observation sur scène</h3>
  <p>
    Depuis la scène, le chargé de sécurité dispose également d’une vision globale de la salle. Il doit faire attention aux gens qui se mettraient à fumer, il doit aussi faire attention aux gens qui peuvent se sentir étouffés dans la foule. Il est là aussi pour gérer les pogos ou les incivilités. (x monte sur les épaules de y, x pousses y, etc..). Il doit être très concentré, car en cas de problème il sera le premier à voir qui est fautif ou pas, et tous les autres bénévoles se baseront sur ses dires.
  </p>

  <h2 class="mt-5">Intervention</h2>
  <h3>Participants malades</h3>
  <p>
    Lors de certaines soirées, les chargés de sécurités sont responsables des participants qui ne se sentent pas bien. En général, une seule personne suffit à prendre en charge quelqu’un se trouvant dans cette situation. Pas la peine donc de l’étouffer de plusieurs personnes au risque de délaisser les autres postes de sécurité. Nous vous proposons la démarche suivante pour prendre en charge une personne souffrante:
  </p>
  <ol>
    <li>Une fois près de la personne concernée vous vous occupez d’elle pendant que le collègue qui vous a appelé éloigne les autres participants à l’exception d’un de ses proches (si possible le plus sobre). Votre collègue qui s’occupe d’éloigner les gens ne doit pas avoir peur d’être sec. Vous n’avez pas le temps de négocier ou d’expliquer les choses.</li>
    <li>Vous sortez la personne malade avec son proche en l’aidant et votre collègue doit vous suivre jusqu’à la porte de sortie. En effet, des participants seront tentés de se mêler de ce que vous faites en voulant venir en aide à la personne prise en charge. Votre collègue est là pour les rassurer et leur demander de vous laisser faire.</li>
    <li>Une fois dehors, éloignez-vous des attroupements pour qu’elle soit tranquille. S’il fait froid, couvrez-là afin de garder son organisme au chaud.  Vous la poserez assise si elle le souhaite ou en Position Latérale de Sécurité (PLS).</li>
    <li>
      Vous commencerez à poser votre propre diagnostic. En posant les questions suivantes, à la personne prise en charge et celle qui l’accompagne:
      <ul>
        <li>A-t-elle consommé des produits stupéfiants ? Si oui, lesquels ?</li>
        <li>A-t-elle des conditions médicales ?</li>
        <li>Quel âge a-t-elle ?</li>
        <li>Qui est, pour la victime, le proche qui l’accompagne ?</li>
        <li>Est-elle souvent dans cet état ?</li>
      </ul>
    </li>
    <li>Vous lui proposerez un verre d’eau par la suite que vous enverrez chercher. Son proche sera responsable de surveiller la victime. Si la personne est inconsciente, appelez tout de suite le 144.</li>
    <li>Par la suite, vous irez observer de temps à autre l’évolution de la personne. Il faudra aussi faire prendre conscience au proche qu’il est temps de rentrer en appelant un taxi. Si l’état de la personne prise en charge se dégrade, appelez les ambulanciers.</li>
  </ol>
  <p>
    N.B. En cas d’appel de l’ambulance vous devez rester à ses côtés jusqu’à que l’ambulance arrive. Vous ferez aussi appel à un de vos collègues qui écartera la foule qui se formera à l’arrivée de l’ambulance.
  </p>
  <p>
    N.B. Quand la personne est dans cet état, il est possible que certains cherchent à prendre des photos ou vidéos d’elle pour en rire. Empêchez-en les dans la mesure du possible en leur faisant comprendre la gravité de la situation.
  </p>

  <h3>Pour cause d’incivilité</h3>
  <p class="mb-0">
    Les incivilités dans les soirées peuvent être nombreuses. C’est au chargé de sécurité de les repérer au vu de son expérience et des directives données par l’organisateur. À titre d’exemple, voici une courte liste non exhaustive d’incivilités:
  </p>
  <ul>
    <li>Fumer à l'intérieur</li>
    <li>Monter sur les épaules d’autrui</li>
    <li>Avoir des mouvements trop brusques risquant de blesser autrui</li>
    <li>Monter sur la scène ou dans tout espace dont l’accès est restreint</li>
    <li>Asperger autrui de liquide</li>
    <li>Faire rentrer autrui frauduleusement</li>
  </ul>

  <p class="mb-0">
    Dans le cas d’une incivilité, nous vous invitons à procéder de la manière suivante:
  </p>
  <ul>
    <li>Le chargé de sécurité témoin de l’incivilité fait appel à ceux de dehors et un, voir deux chargés de sécurité (selon l’effectif) viennent s’occuper de la personne.</li>
    <li>Si des proches de la personne veulent s’interpose, l’un des chargés de sécurité doit les écarter rapidement et fermement.</li>
    <li>Vous invitez la personne à vous suivre à l’écart pour discuter, et la faites sortir de façon mesurée en cas de refus.</li>
    <li>Une fois dehors, le chargé de sécurité intérieur retourne à sa place. L’un des deux autres s’occupe de la personne et lui explique pourquoi elle est dehors. Selon la gravité de l’acte, vous pouvez lui permettre de continuer sa soirée à l’intérieur. Il est bien évidemment que si la personne a eu des gestes déplacés ou dangereux envers quelqu’un, elle n’ait pas sa place dans l’événement et doive être au minimum exclue sans négociation.</li>
    <li>La personne voudra surement aller chercher ses affaires, un chargé de sécurité l’accompagne donc pour éviter que ceux de l’intérieur s’étonnent du retour de celle-ci.</li>
  </ul>
  <p>
    N.B. Dans la plupart des cas, les personnes qui se feront sortir ou les personnes proches de ces dernières voudront négocier. Vous n’avez qu’à leur répondre que vous ne gérez par l’intérieure, si un collègue vous demande de le sortir c’est que sa demande est sérieuse et qu’il n’y aura pas de négociation. Si la personne persiste, ignorez-la!
  </p>

  <h3>Pour cause de bagarre</h3>
  <p>
    L’alcool et le manque d’espace provoquent souvent des tensions qui peuvent se terminer par des coups. Afin de vous faciliter les manœuvres dans ces cas, nous allons vous donner une marche à suivre:
  </p>

  <p><b>Dans le cas d’une rixe entre deux voir trois personnes</b></p>
  <ol>
    <li>Le chargé de sécurité témoin fait appel directement à ses collègues, il n’agit pas seul.</li>
    <li>Les chargés de sécurité écartent et isolent les protagonistes de deux côtés.</li>
    <li>
      Au moins un autre chargé de sécurité se tient prêt à venir en renfort.
      <br>
      Il ne faut pas hésiter à employer les mains. Le but n’est pas de distribuer des coups mais tout simplement de maîtriser les protagonistes. Le nombre des chargés de sécurité autour des protagonistes est là pour le décourager de se retourner contre eux plus que pour user de la force.
    </li>
    <li>Le chargé de sécurité témoin de l’altercation fait son rapport aux deux groupes, à la suite de quoi ils prennent décision de faire rentrer un des deux protagonistes dans la soirée ou de les exclure tous les deux en veillant à ce qu’ils ne se croisent pas</li>
  </ol>

  <p><b>Dans le cas d’une bagarre entre trois personnes ou plus</b></p>
  <ul>
    <li>Le chargé de sécurité témoin fait appel directement à tous les chargés de sécurité.</li>
    <li>Ils se dirigent le plus vite possible vers le conflit, isolent les plus violents en dispersant la foule.</li>
    <li>Le but poursuivi est de faire sortir les éléments les plus violents au plus vite, et de les séparer à l’extérieur. Si la salle dispose de plusieurs sorties, il faut en tirer avantage afin de mieux séparer les protagonistes. </li>
  </ul>

  <h3>Normes légales concernant l’usage de la force</h3>
  <p>
    En acceptant le poste de chargé de sécurité, vous devez prendre connaissance de plusieurs notions et normes légales encadrant ce que vous pouvez ou non faire.
  </p>
  <p>
    Vous ne devez jamais être la première personne à donner le coup. En effet, si vous vous faites agresser physiquement vous avez un droit de légitime défense régi par l’art. 15 du Code pénal suisse.
  </p>
  <cite class="d-block mb-3">Art. 15 CP : quiconque, de manière contraire au droit, est attaqué ou menacé d’une attaque imminente a le droit de repousser l’attaque par des moyens proportionnés aux circonstances ; le même droit appartient au tiers.</cite>
  <p>
    Cet article dispose que le coup doit être rendu de manière proportionnelle à celui reçu. Qu’il soit clair pour vous que vous ne seriez pas couvert si vous vous mettiez à rouer de coups celui qui vous a frappé. Le brassard ou la fonction de chargé de sécurité ne vous donne pas le droit d’outrepasser les limites imposées par le législateur dans le Code pénal suisse.
    <br>
    Si vous recevez un coup et que vous êtes seul, rendez-le de manière proportionnelle, mais le but de cette manœuvre est d’attendre vos collègues. Une fois à plusieurs, profitez de votre force commune pour essayer de le neutraliser en lui faisant le moins de mal possible.
  </p>
</section>
