---
layout: canevas
createdAt: 23.09.2019
updatedAt: 23.09.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque événement est différent: dans ses activités, ses buts, ses membres et donc dans la structure et les moyens nécessaires à son existence et à l’accomplissement de ses objectifs.
  <br>
  Ce canevas n’est donc pas une recette miracle pour arriver au vestiaire de vos rêves, mais plutôt un ensemble de propositions pour nourrir votre réflexion et vous offrir des repères dans la réalisation de votre projet. Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer une <a href="/formulaire-de-demande/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Tenir un vestiaire</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Ai-je besoin de prévoir un vestiaire ?</h2>
  <p>
    Si vous avez déjà eu l’opportunité de sortir par une nuit d’hiver vous devez savoir de quoi nous allons parler ici. Il n’y a rien de pire que devoir danser dans une salle surchauffée avec son grand manteau qu’on ne veut pas laisser dans un coin de la salle de peur de se le faire voler. Le vestiaire est non seulement un service que vous proposez à votre clientèle lui permettant de mieux profiter de la soirée, mais peut également constituer une entrée d’argent supplémentaire pour votre association et arrondir les recettes de votre événement.
  </p>
  <p>
    À l’opposé, un vestiaire mal organisé peut mener à un énorme fiasco pour votre soirée et votre image, sans parler d’éventuels problèmes juridiques qui peuvent aller jusqu’à couler votre association en cas de vols par exemple. D’expérience, trop d’organisateurs négligent l’organisation du vestiaire par rapport, par exemple, au bar et le regrettent amèrement par la suite.
  </p>

  <h2 class="mt-5">Timeline</h2>
  <ul>
    <li>Au moment du choix de la salle : Faire un vestiaire ou ne pas faire un vestiaire ?</li>
    <li>Au moment du lancement de la communication: Faire figurer sur votre communication que vous proposez un vestiaire payant ou non.</li>
    <li>J-30 : Chercher le matériel nécessaire, commander les tickets vestiaire, avoir un plan pour louer les portants et les cintres ainsi que la caisse.</li>
    <li>J-10 : Avoir reçu ou avoir confirmation que tout le matériel sera disponible à la date de votre soirée, faire le planning bénévole.</li>
  </ul>

  <h2 class="mt-5">Généralités</h2>
  <ol>
    <li>Est-il pertinent de proposer un vestiaire ou pas ? Les vestiaires sont intéressants durant des événements où la température intérieure est bien plus chaude que la température extérieure et où les gens vont danser.Si votre soirée consiste en un concert de violoncelle en été, vous n’avez pas forcément besoin d’un vestiaire. Par contre, durant une all-style en février vos clients vous remercieront si vous leur proposez un vestiaire.</li>
    <li>Emplacement : La salle permet-elle la mise en place d’un vestiaire pratique et proche de l’entrée ? Si la réponse est non : est-il envisageable d’en construire un avec une séparation faite par exemple de tables et vaubans ? Lorsqu’on pense à l’emplacement du vestiaire, il faut penser que les affaires doivent impérativement être isolées du public et prendre en compte la saison ainsi que le nombre de personnes que vous attendez lors de votre soirée. Les manteaux et sacs prennent de la place !</li>
    <li>Gestion de la foule: Il faut également prendre en compte qu’en début et surtout en fin de soirée des files vont inévitablement se créer devant votre vestiaire. Il est important de prévoir un espace pour ces files et judicieux de les canaliser en créant un espace de sortie pour que les gens ayant effectué leur retrait puissent laisser la place aux autres.</li>
    <li>Communication: Il est important que votre vestiaire soit visible de la clientèle lors de la soirée et que vous communiquiez l’existence et le prix d’un vestiaire dans la pub pour votre soirée.</li>
  </ol>

  <h2 class="mt-5">Matériel</h2>
  <h3>Portants cintres</h3>
  <p>
    Il vous faudra des portants et des cintres en quantité suffisante et pouvant soutenir des charges réalistes. N’oubliez pas que les affaires sont lourdes et prennent bien plus de place qu’un cintre nu. Chaque portant ne peut soutenir que 10-15 cintres occupés par des affaires, prenez ça en compte lors de la mise en place de votre vestiaire. Les affaires confiées par vos clients dépendent de la saison et des conditions météo. Il faut toujours s’attendre au pire et se poser les questions suivantes:
    <ul>
      <li>Combien de personnes sont attendues et de combien cintres ai-je à disposition ?</li>
      <li>Quand dois-je commencer à refuser des affaires ? Même si vos clients n’ont pas l’air d’accord il est préférable de refuser de prendre en charge des affaires durant la soirée que de les poser et les perdre.</li>
    </ul>
  </p>
  <h3>Tickets de vestiaire</h3>
  <p>
    Vous trouverez sur le net des tickets vestiaire. Les tickets vestiaire sont des tickets en deux parties détachables l’une de l’autre et portant le même nombre. Il faut en commander en nombre suffisant, de toute manière les non utilisés pourront être utiles pour une prochaine soirée !
  </p>
  <aside>
    <p>Vous trouverez à la vente des tickets en papier ou en métal réutilisables à des prix attractifs selon la quantité. <a href="https://adri.ch/fr/controles-dentree-vestiaire/tickets-et-numerotes-de-vestiaire-et-billets.html">Pour exemple...</a></p>
  </aside>
  <h3>Caisse</h3>
  <p>
    Il vous faut au minimum une caisse si vous faites payer le vestiaire, avec le fond de caisse nécessaire.
  </p>
  <h3>Sécurité</h3>
  <p>
    Comme abordé ci-dessus, il est absolument primordial d’empêcher un accès des participants aux affaires stockées dans le vestiaire, grâce à une barrière physique ainsi qu’un staff sécurité s’assurant que personne ne passe cette barrière.
  </p>
  <b>Bénévoles</b>
  <p>
    Il est très important de briefer les bénévoles afin qu’ils s’assurent avec la personne venant récupérer ses affaires qu’il s’agit bien de ses affaires, afin d’éviter tout problème éventuel.
  </p>
  <p>
    Le travail au vestiaire étant relativement répétitif, dans un espace restreint et pouvant s’avérer intense, il n’est pas le plus populaire parmi les bénévoles. Si vous voyez que vous peinez à remplir les places dans ce secteur, il est possible de rendre le vestiaire plus attractif à travers des avantages différents (1 bon boisson en plus, par exemple) ou des horaires gérés de manière différente.
  </p>
  <b>Nombre de bénévoles</b>
  <p>
    Plus encore que le bar, l’affluence au vestiaire varie beaucoup durant la soirée et il est primordial d’avoir une bonne communication entre l’organisation et l’équipe vestiaire afin que celle-ci puisse demander plus de monde en renfort si besoin. De toute manière il faut prévoir un effectif important en fin de soirée surtout si votre soirée se termine tôt (avant 6h).
  </p>
  <b>Responsabilité légale</b>
  <p>
    Lorsque vous recevez les affaires d’une personne, celle-ci vous fait confiance. Faites donc bien attention à ce que le vestiaire soit suffisamment surveillé. Si quelque chose disparaît ou est abîmé sous la garde d’un des bénévoles, il pourrait s’enquérir de la politique de sa responsabilité civile au cas où celle-ci couvrait les dommages occasionnés.
  </p>
  <p>
    Si des affaires restent à la fin de la soirée, pensez à le signaler sur les canaux de communication de l'événement. En demandant de donner des détails sur l’article à récupérer, vous pourrez vous assurer que c’est bien à leurs propriétaires que vous les rendez. Cela vaut d’ailleurs pour tous les objets personnels trouvés à la fin de l’événement.
  </p>
  <b>Spécificité de la salle</b>
  <p>
    Lorsque vous visitez la salle/le lieu de l'événement, il vous faut aussi penser au vestiaire. Certaines salles comportent déjà un local dédié avec espace de stockage, ce qui vous facilite la vie et le porte-monnaie, puisque vous n’aurez pas besoin d’aménager un vestiaire. Si la salle ne contient aucun local s’apparentant à un vestiaire, il vous en faut un créer un. Pour ce faire, il vous faudra utiliser un espace non accessible au public pour stocker les vestes, tout en ayant de quoi mettre un guichet assez proche de cet espace. Une trop grande distance guichet-espace de stockage obligerait les bénévoles à couvrir de plus grandes distances et diminue donc l’efficacité.
  </p>
  <p>
    Le vestiaire donc également être facilement trouvable et être placé de manière à ce qu’une éventuelle queue ne dérange pas d’autres espaces plus fréquentés de l'événement.
  </p>
  <p>
    Afin de pouvoir gérer une forte affluence, il est également préférable d’avoir une entrée et une sortie distincte, afin d’éviter que les gens ayant récupéré leur veste doivent passer à travers la queue pour le vestiaire et afin donc qu’ils puissent sortir facilement. La canalisation peut se faire à l’aide de vaubans, de simple bande ou d’un membre de la sécurité orientant les personnes.
  </p>
  <b>Prix du vestiaire</b>
  <p>
    Vous pouvez choisir de prendre en compte le vestiaire dans le ticket d’entrée de votre soirée si celui-ci est payant. Vous pouvez également choisir de faire des prix qui varient ou non par articles. Ou encore, adopter la politique de prix libre.
  </p>
</section>
