---
layout: canevas
createdAt: 20.08.2019
updatedAt: 20.08.2019
version: 1.0.0
---

{% capture warning_note %}
<p class="justify">
  Chaque association est différente: dans ses activités, ses buts, ses membres et donc dans la structure et les moyens nécessaires à son existence et à l’accomplissement de ses objectifs.
  <br>
  Ce canevas n’est donc pas une recette miracle pour arriver à l’association de vos rêves, mais plutôt un ensemble de propositions pour nourrir votre réflexion et vous offrir des repères dans la réalisation de votre projet associatif. Les conseils qui suivent ne sont ni obligatoires, ni suffisants ou exhaustifs; ils n’engagent aucunement la responsabilité de LYOXA et nécessitent toujours une adaptation à votre contexte particulier. Dans cette idée, nous vous recommandons d’effectuer une <a href="/formulaire-de-demande/">demande de suivi</a> afin d’identifier ensemble les solutions qui seront efficaces pour vous.
</p>
{% endcapture %}

<section class="container mt-5">
  {% include canevas/warning.html warning_note=warning_note %}
</section>

<section class="container mt-5">
  <h1>Tenir une trésorerie associative</h1>
  {% include canevas/meta.html %}

  <h2 class="mt-5">Vue d’ensemble</h2>
  <p>
    La trésorerie est l’une des composantes essentielles dans la fondation d’une association ainsi que dans l’exercice de ses activités. Elle recoupe le plus souvent deux dimensions: d’une part la trésorerie à proprement parler, et d’autre part la comptabilité de l’association. La trésorerie consiste majoritairement en l’organisation et la planification des projets budgétaires et financiers de l’association (dépenses, recherche de fonds, dons, investissements, etc.) tandis que la comptabilité en représente la partie “administrative”, c’est-à-dire le traitement de tout document ou démarche relatifs aux finances de l’association. Ainsi, le trésorier possède très souvent, de manière implicite, la casquette de comptable en plus de celle de responsable de la trésorerie.
  </p>
  <p>
    L’aspect financier d’une association est primordial dans l’exercice de ses activités: c’est pourquoi le trésorier occupe souvent une place au sein de l’organe directeur de l’association de celle-ci.
  </p>

  <h2 class="mt-5">Dans les statuts</h2>
  <p>
    Sauf avis contraire dans les statuts, le trésorier possède avant tout un rôle exécutif: bien qu’il donne des informations et conseils à l’association sur l’état de ses actifs et de ses finances, il agit rarement de son propre chef et oeuvre plutôt à la réalisation de la volonté de l’association. Néanmoins, assurant une vision objective de l’état des finances, il propose de dépenser, rembourser, investir, épargner de manière cohérente avec les buts de l’association, et ce sur le long terme.
  </p>
  <p>
    Les statuts définissent plusieurs éléments relatifs à la trésorerie, notamment l’engagement juridique de l’association (le plus souvent à travers un montant fixe et/ou la signature collective d’un certain nombre de membres de l’organe exécutif). Les statuts contiennent également les modalités de l’exercice comptable: début, fin, durée (année civile ou non), comptes à rendre à un organe tiers, etc. On y trouvera également la mention ou non de cotisation des membres ainsi que les modalités retenues pour déterminer cette dernière.
  </p>

  <h2 class="mt-5">Tenue de trésorerie</h2>
  <p>
    La tenue de la trésorerie peut se résumer assez simplement: faire l’inventaire de toutes les transactions faites au nom de l’association durant l’exercice social visé. Plus concrètement, il s’agit de récapituler à travers un tableur ou un logiciel de comptabilité l’historique des dépenses et entrées d’argent tant sur le(s) compte(s) bancaire(s) que la/les caisse(s) de l’association.
  </p>
  <p>
    En outre, chaque dépense doit être justifiée par une pièce-comptable (facture, quittance, reçu, etc.), de manière à attester de l’origine de celle-ci, pouvoir retracer les sorties d’argent – et éviter les détournements de fonds ainsi que les conflits d’intérêts – en résumant chaque transaction à trois questions: Combien? À qui? Pourquoi? Bien que de nombreuses comptabilités ne retiennent que des pièces comptables informatisées, il est préférable de conserver tous les originaux, notamment si l’association reçoit des subventions d’un organe tiers puisqu’il n’est pas possible de prétendre à un remboursement de frais si une copie est présentée plutôt que la pièce comptable originale.
  </p>
  <p>
    À l’inverse, les entrées d’argent ne nécessitent pas le besoin absolu d’être justifiées. Il est toutefois recommandé d’avoir le maximum de pièces comptables assignées à sa transaction pour rendre l’examen de la comptabilité plus fluide – ce qui permet également de témoigner du sérieux de l’association. Mais il faut que les montants et dates inscrits dans le tableur/document de comptabilité correspondent avec les fonds disponibles sur le(s) compte(s) et la/les caisse(s) de l’association auxdites dates, ainsi que sur les relevés de compte de l’exercice.
  </p>
  <p>
    Une fois l’exercice social ayant pris fin, les comptes sont remis à l’Assemblée générale – la plupart du temps après évaluation d’un organe de vérification/révision – qui statue sur leur approbation ou non. Une fois approuvés, l’exercice social est clos, le trésorier est déchargé de son mandat et un nouvel exercice social débute.
  </p>

  <h2 class="mt-5">Organe vérificateurs des comptes</h2>
  <p>
    Comme le précise le Code civil suisse à l’<a aria-describedby="footnote-label" href="#article69b" id="article69b-ref">article 69B</a>:
  </p>
  <div class="mb-3">
    <cite>
      <ol>
        <li>
          L'association doit soumettre sa comptabilité au contrôle ordinaire d'un organe de révision si, au cours de deux exercices successifs, deux des valeurs suivantes sont dépassées:
          <ol class="mb-0">
            <li>total du bilan: 10 millions de francs;</li>
            <li>chiffre d'affaires: 20 millions de francs;</li>
            <li>effectif: 50 emplois à plein temps en moyenne annuelle.</li>
          </ol>
        </li>
        <li>L'association doit soumettre sa comptabilité au contrôle restreint d'un organe de révision, si un membre de l'association responsable individuellement ou tenu d'effectuer des versements supplémentaires l'exige.</li>
      </ol>
    </cite>
  </div>
  <p>
    L’organe de révision des comptes ou vérificateur des comptes est généralement élu par l’Assemblée Générale lors du renouvellement de l’exercice social. Il est composé d’une ou plusieurs personnes – physiques ou morales – qui sont externes soit à l’organe directeur, soit à l’association dans son ensemble : il s’agit donc d’individus tiers, n’étant pas lié à l’association afin de garantir davantage de neutralité et d’objectivité dans le contrôle des comptes. Ainsi, sa tâche principale consiste en la vérification de la bonne tenue des comptes de l’exercice social pour lequel l’organe a été élu: l’organe vérificateur des comptes doit remettre son rapport à l’Assemblée générale en lui recommandant d’approuver ou non les comptes en fonction des éventuelles irrégularités constatées. Tant que les comptes n’ont pas été approuvés, le trésorier ainsi que le président de l’association (si les statuts le précisent) ne sont pas déchargés de leur mandat.
  </p>
  <div>
    En soi, la bonne tenue des comptes peut être résumée en quelques points succincts:
    <ul class="mb-0">
      <li>Faire en sorte que le montant et libellé des transactions (communément appelées “écritures”) correspondent effectivement à la date lors de laquelle elles ont été effectuées;</li>
      <li>Faire le lien entre les pièces comptables lesdites écritures (date, montant, nature de la transaction, etc.);</li>
      <li>Faire en sorte que chaque transaction puisse être identifiée et retracée dans l’historique de l’association (régularité du/de la Trésorier-ère dans l’exercice de sa fonction).</li>
    </ul>
    Bien que la mise en place d’un organe de révision des comptes soit prévue pour une partie minime des personnes morales, il est recommandé à chaque association – notamment à but non lucratif – de faire réviser ses comptes de manière périodique. Ce n’est, comme indiqué plus haut, pas une nécessité juridique, mais constitue une pratique coutumière qui participe au bon fonctionnement des associations dont le patrimoine est inférieur au montant susmentionné. Cela peut également jouer un rôle dans la recherche de fonds ou demande de subventions, la présence d’un organe de révision des comptes pouvant constituer une preuve de bon contrôle des finances de l’association.
  </div>

  <h2 class="mt-5">Fiscalité</h2>
  <p>
    Les associations, en tant que personnes morales, sont soumises à différents types d’imposition: les deux principaux sont l’impôt fédéral direct (IFD), régi par la Loi fédérale sur l’impôt fédéral direct (LIFD) et l’impôt communal et cantonal (lCC). La Loi sur l’imposition des personnes morales (LIPM) reprend l’essentiel des modalités. Plus d’informations sur : <a href="http://www.ge.ch/impot-associations-fondations">www.ge.ch/impot-associations-fondations</a>.
  </p>
  <div class="mb-3">
    Afin de bénéficier d’une exonération fiscale, l’association doit remplir certaines conditions vis-à-vis des critères fixés <a aria-describedby="footnote-label" href="#loi" id="loi-ref">loi</a>, notamment:
    <ul class="mb-0">
      <li>Être une personne morale à but non-lucratif;</li>
      <li>Exercer une activité de manière effective (pas de thésaurisation);</li>
      <li>Ses membres doivent mener une activité désintéressée (bénévole) et visant la collectivité publique (but d’intérêt général);</li>
      <li>Avoir un cercle de bénéficiaires ouvert.</li>
    </ul>
  </div>
  <p>
    La reconnaissance d’utilité publique est intrinsèquement liée à l’exonération fiscale par l’administration fiscale cantonale (AFC). Le canton de Genève en propose un document synthétique disponible <a aria-describedby="footnote-label" href="#reconnaissance-d-utilite-publique" id="reconnaissance-d-utilite-publique-ref">sur le web</a>.
  </p>

  <h2 class="mt-5">Mise en pratique</h2>
  <p>
    La tenue d’une trésorerie nécessite essentiellement de la rigueur. Le travail comptable est fastidieux dans la mesure où il requiert du trésorier une attention particulière à la concordance des transactions, leur montant et date effective.
  </p>
  <p>
    D’un point de vue pratique, les données sont généralement réparties dans deux documents différents: le tableur ou logiciel comptable énumérant chronologiquement les transactions/opérations financières à travers un tableau; les pièces comptables, preuves desdites transactions, ordonnées dans un dossier ou classeur annexe. Ces documents doivent permettre de retracer l’historique des finances de l’association par exercice social.
  </p>
  <p>
    Tous les documents peuvent être conservés électroniquement – sous format informatisé – bien qu’il soit recommandé de conserver l’ensemble des pièces comptables dans leur format original (cf. supra).
  </p>
  <p>
    Toutes les associations n’ont pas les mêmes besoins bancaires, puisqu’ils dépendent de leurs moyens et de leurs activités. Quelques soient les solutions de paiement adoptés, sachez qu’elles seront probablement appelées à s’adapter à l’évolution de l’association par la suite. Plusieurs banques offrent la possibilité aux associations d’ouvrir des comptes bancaires avec des frais réduits et plusieurs cartes.
  </p>
  <aside>
    <p>Celle que nous recommandons est PostFinance. Les démarches administratives y sont les plus faciles, malgré des frais peut-être plus substantiels. (<a href="https://www.postfinance.ch/fr/entreprises/produits/comptes/compte-associations.html">https://www.postfinance.ch/fr/entreprises/produits/comptes/compte-associations.html</a>).</p>
  </aside>
  <p>
    Pour l’ouverture du compte, il vous suffit de vous rendre sur le site de la banque de votre choix et suivre la procédure en ligne, ou de vous rendre directement en agence.
  </p>
  <figure>
    <img src="/img/canevas/tenir-une-tresorerie-associative/exemple-d-une-tresorerie.png" alt="Exemple d’une trésorerie – Exercice social sur l’année civile 2018" class="img-fluid">
    <figcaption class="small font-italic text-muted">Exemple d’une trésorerie – Exercice social sur l’année civile 2018</figcaption>
  </figure>
  <p>
    Nous vous invitons à prendre connaissance du <a href="http://www.ville-geneve.ch/fileadmin/public/Departement_5/Documents_de_demarches/guide-comptabilite-organismes-subventionnes-ville-geneve.pdf">guide</a> produit par la Ville de Genève pour aider les organisations à but non lucratif et les personnes physiques subventionnées à répondre aux exigences en matière de présentation et de vérification des comptes décrites dans le règlement régissant les conditions d’octroi des subventions municipales de la Ville de Genève (LC 21 195).
  </p>

  <footer class="border-top pt-5 mt-5">
    <ol class="pl-0" style="list-style-position: inside;">
      <li id="article69b">
        <a href="https://www.admin.ch/opc/fr/classified-compilation/19070042/index.html">www.admin.ch/opc/fr/classified-compilation/19070042/index.html</a>
        <a href="#article69b-ref" aria-label="Retour au contenu">↵</a>
      </li>
      <li id="loi">
        Art. 56, let. g LIFD et art. 9, al. 1, let. f LIPM
        <a href="#loi-ref" aria-label="Retour au contenu">↵</a>
      </li>
      <li id="reconnaissance-d-utilite-publique">
        <a href="https://www.ge.ch/document/guide-exonerations-fiscales-associations-fondations">www.ge.ch/document/guide-exonerations-fiscales-associations-fondations</a>
        <a href="#reconnaissance-d-utilite-publique-ref" aria-label="Retour au contenu">↵</a>
      </li>
    </ol>
  </footer>
</section>
