---
layout: main
---

{{ content }}

<section class="container mt-5">
  <hr class="my-5">
  <div>
    <h1 class="h6">Qu’avez-vous pensé de ce canevas ?</h1>
    <p>
      Est-ce que nous avons oublié un élément qui vous semble important ? Un point mérite d’être mis à jour ? Les outils associatifs mis à disposition par LYOXA ont vocation à s’adapter et à évoluer avec leurs utilisateurs, parce que nous valorisons le partage, l'engagement citoyen et l'innovation. Aidez-nous à faciliter le lancement de milliers d’associations en nous faisant part de vos remarques sur <a href="mailto:info@lyoxa.ch">info@lyoxa.ch</a>.
    </p>
  </div>
  <div id="print_buttons">
    <hr class="my-5">
    <button type="button" name="button" onclick="window.print()" class="btn btn-outline-primary">Imprimer le canevas</button>
  </div>
</section>
