<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96992342-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-96992342-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/master.css">
    {% if page.vuejs %}
      <script src="/js/vue.js"></script>
      <script src="/js/axios.min.js"></script>
    {% endif %}

    {% if page.redirect_to %}
      {% include redirection.html %}
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#cb0000">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% seo %}
  </head>
  <body>
    <!-- <div id="info-banner" class="alert alert-info border-0 mb-0" role="alert">
      Nouveau: chaque premier mercredi du mois, LYOXA propose une permanence de conseil associatif gratuite à la MIA! <a href="/services/permanence-de-conseil-associatif/">Plus&nbsp;d’infos&nbsp;→</a>
    </div> -->

    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}

    <script src="/js/jquery-3.4.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
