<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lyoxa - Consulting associatif</title>
    <link rel="stylesheet" href="/css/master.css">
    {% if page.vuejs %}
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% endif %}
  </head>
  <body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}

    <script src="/js/jquery-3.4.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
